﻿@model TalentosApp.TransferenciaDatos.VistaModelos.ClientesVw

@{
    ViewBag.Title = "Detalle del Cliente";
}
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<h2><span class="glyphicon glyphicon-tree-conifer"></span>Detalle del Cliente</h2>

<div>
    <h4>Datos acerca del cliente registrado (@Html.ActionLink("Volver al listado", "ListadoClientesPaginado"))</h4>
    <hr />
    <img class="center-block" src="~/Content/Images/enterprise.png" />
    <dl class="dl-horizontal">
        <dt>No. Cliente</dt>
        <dd>@string.Format("{0:D4}", Model.ClienteID)</dd>
        <dt>Nombre</dt>
        <dd>@Model.Nombre</dd>
    </dl>
</div>

<div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalGestor">
            <span class="glyphicon glyphicon-pencil"></span> Modificar
        </button>
        <button type="button" class="btn btn-danger" id="btnEliminar">
            <span class="glyphicon glyphicon-remove"></span> Eliminar
        </button>
    </div>
</div>

<!--Modales-->
<div id="modalGestor" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblTituloGestor">Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="row form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Nombre">Nombre</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGestorModificar">Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var cliente = @Model.ClienteID;
    $(function(){
        $("body").on("shown.bs.modal","#modalGestor",function(e){
            $("#Nombre").focus();
        });

        $("body").on("click","#btnGestorModificar",function(e){
            toastr.clear();
            txtNombre = $("#Nombre");
            if (txtNombre.val().trim().length == 0) {
                toastr.error("Debe completar el campo Nombre");
                txtNombre.focus();
                return false;
            }
            $.ajax({
                url: rootDir + "Clientes/ModificarCliente",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    entrada: {
                        ClienteID:cliente,
                        Nombre: txtNombre.val()
                    }
                })
            }).done(function (data) {
                if (data.error) {
                    swal("Error!", data.resultado, "error");
                } else {
                    swal({
                        title: "Proceso completado satisfactoriamente!",
                        text: "",
                        type: "success",
                        timer: 2000,
                        showConfirmButton: false
                    }, function () {
                        document.location.reload();
                    });
                }
            }).error(function (data) {
                toastr.error("Ha ocurrido un error comunicando con el servidor");
            });
        });

        $("body").on("click","#btnEliminar",function(data){
            swal({ title: "Deseas remover cliente?",   
                text: "Se cancelaran todas las vacantes actuales y sus procesos asociados",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Eliminar", 
                cancelButtonText: "Cancelar",
                closeOnConfirm: false 
            }, function(){   
                toastr.clear();
                $.ajax({
                    url:rootDir + 'Clientes/EliminarCliente',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({clienteID:cliente})
                }).done(function (data){
                    if (data.error){
                        toastr.error(data.resultado);
                        return;
                    }
                    document.location.href = rootDir + "Clientes/ListadoClientesPaginado";
                }).error(function (data){
                    toastr.error("Error contactando el servidor");
                    swal.close();
                });

            });
        });
    });
</script>