﻿@model TalentosApp.TransferenciaDatos.Entradas.ClienteInputModel

@{
    ViewBag.Title = "Registrar Cliente";
}
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<h2><span class="glyphicon glyphicon-tree-conifer"></span>Registrar Cliente</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Favor de completar los campos correspondientes</h4>
        <img class="center-block" src="~/Content/Images/enterprise.png" />
        <hr />
        @if (ViewBag.Message != null)
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="text-danger">@((string)ViewBag.Message)</div>
        }

        <div class="form-group">
            <label class="control-label col-md-2" for="Nombre">Nombre*</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "ListadoClientesPaginado", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $("#Nombre").focus();
        $("form").submit(function () {
            toastr.clear();
            txtNombre = $("#Nombre");
            if (txtNombre.val().trim().length == 0) {
                toastr.error("Debe completar el campo Nombre");
                txtNombre.focus();
                return false;
            }

            $.ajax({
                url: rootDir + "Clientes/RegistrarCliente",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    entrada: {
                        Nombre: txtNombre.val()
                    }
                })
            }).done(function (data) {
                if (data.error) {
                    swal("Error!", data.resultado, "error");
                } else {
                    swal({
                        title: "Proceso completado satisfactoriamente!",
                        text: "",
                        type: "success",
                        timer: 2000,
                        showConfirmButton: false
                    }, function () {
                        document.location.href = rootDir + "Clientes/DetalleCliente/" + data.resultado;
                    });
                }
            }).error(function (data) {
                toastr.error("Ha ocurrido un error comunicando con el servidor");
            });
            return false;
        });
    });
    
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
