﻿@model TalentosApp.TransferenciaDatos.VistaModelos.PerfilViewModel

@{
    ViewBag.Title = "Detalle del Perfil";
}
<link href="~/Content/magicsuggest-min.css" rel="stylesheet" />
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/magicsuggest-min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<style>
    .aptitud-elemento{
        float:left;
        margin-left: 0.3%;
    }
    .aptitud-elemento span{
        cursor:pointer;
    }
</style>
<h2><span class="glyphicon glyphicon-book"></span> Detalle del Perfil</h2>

<div>
    <h4>Administrar habilidades del perfil (@Html.ActionLink("Volver al listado", "ListadoPerfilesPaginado"))</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Model.Nombre
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Model.Descripcion
        </dd>
    </dl>
</div>
<div>
    <div class="btn-group">
        <button type="button" class="btn btn-info" id="btnModalAgregarAptitud"> <span class="glyphicon glyphicon-plus"  ></span> Agregar aptitud</button>
        <button type="button" data-toggle="modal" data-target="#modalGestorPerfil" class="btn btn-primary"> <span class="glyphicon glyphicon-pencil"></span> Modificar</button>
        <button type="button" class="btn btn-danger" id="btnEliminarPerfil"> <span class="glyphicon glyphicon-remove"></span> Eliminar</button>
    </div>
    <hr />
</div>
<div>
    <h4>Aptitudes</h4>
    <div class="col-md-12 aptitudes">
        <h2 style="visibility:hidden"></h2>
       @foreach (var aptitud in Model.AptitudesPerfil)
       {
           <h2 class='aptitud-elemento' data-id='@aptitud.PerfilAptitudID'>
                <span class='label label-default'>
                    <span class="aptitud-nombre">@aptitud.Aptitud</span> 
                    <span style="background-color:#5bc0de" class="badge">
                        <span class='glyphicon glyphicon-remove aptitud-remover'></span>
                    </span>
                </span>
           </h2>
       }
    </div>
</div>

<div style="visibility:hidden"><h3>VirtualSpace</h3></div>



<!-- Modales -->
<div id="modalGestorAptitudes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblTituloGestorAptitudes">Agregar aptitud</h4>
            </div>
            <div class="modal-body">
                <div class="row form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Aptitud</label>
                        <div class="col-xs-9">
                            <select id="cboAptitudes"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Nivel Manejo</label>
                        <div class="col-xs-9">
                            <div class="btn-group nivelmanejo">
                                <button type="button" class="btn btn-default" data-val="1">Elemental</button>
                                <button type="button" class="btn btn-default" data-val="2">Intermedio</button>
                                <button type="button" class="btn btn-default" data-val="3">Experto</button>
                            </div>
                            <input type="hidden" id="txtNivelManejo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Tiempo Experiencia</label>
                        <div class="col-xs-9">
                            <input type="text" id="txtTiempoExperiencia" class="form-control col-xs-4"
                                   onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                            <div class="btn-group unidadexperiencia">
                                <button type="button" class="btn btn-default" data-val="1">Meses</button>
                                <button type="button" class="btn btn-default" data-val="2">Años</button>
                            </div>
                            <input type="hidden" id="txtUnidadExperiencia" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAgregarAptitud">Agregar</button>
                <button type="button" class="btn btn-primary" id="btnModificarAptitud">Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div id="modalGestorPerfil" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Perfil: @Model.Nombre</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Nombre">Nombre</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Descripcion">Descripción</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnModificarPerfil">Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script>
    var modalGestorAptitudes = $("#modalGestorAptitudes");
    var modalGestorPerfil = $("#modalGestorPerfil");
    var cboAptitudes = null;
    var perfilID = @Model.PerfilID;

    var txtNivelManejo = $("#txtNivelManejo");
    var txtUnidadExperiencia = $("#txtUnidadExperiencia");
    var txtTiempoExperiencia = $("#txtTiempoExperiencia");
    var aptitudActual = null;
    var cboDataTemporal = null;

    var txtNombre = $('#Nombre');
    var txtDescripcion = $('#Descripcion');

    $(document).ready(function () {
        //Apdtitudes Elemento
        $("#btnEliminarPerfil").on('click',function(e){
            swal({ title: "Deseas remover perfil?",   
                text: "Se desvinculara este perfil para todos los (procesos,aplicaciones) asociadas",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Eliminar", 
                cancelButtonText: "Cancelar",
                closeOnConfirm: false 
            }, function(){   
                toastr.clear();

                $.ajax({
                    url:rootDir + 'Perfiles/RemoverPerfil',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({perfilID:perfilID})
                }).done(function (data){
                    console.log(data);
                    if (data.error){
                        toastr.error(data.resultado);
                        return;
                    }
                    document.location.href = rootDir + "Perfiles/ListadoPerfilesPaginado";
                }).error(function (data){
                    toastr.error("Error contactando el servidor");
                    swal.close();
                });

            });
        });
        $("#btnModificarPerfil").on('click',function(e){
            if (txtNombre.val().trim() == 0){
                toastr.error("Debe completar el campo nombre correctamente");
                txtNombre.focus();
                return;
            }
            if (txtDescripcion.val().trim() == 0){
                toastr.error("Debe completar el campo descripción correctamente");
                txtDescripcion.focus();
                return;
            }
            data = {
                PerfilID : perfilID,
                Nombre: txtNombre.val(),
                Descripcion: txtDescripcion.val()
            };
            $.ajax({
                url: rootDir + 'Perfiles/ModificarPerfil',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    entrada: data
                })
            }).done(function(data){
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }
                swal({
                    title: "Proceso completado satisfactoriamente!",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                }, function () {
                    document.location.reload();
                });

            }).error(function (jq,err){
                toastr.error("Problemas de conexion con el servidor");
            });
        });
        $("body").delegate(".aptitud-nombre","click",function(e){
            vm = $(this).parent().parent();
            aptitudActual = {id:vm.data("id")};
            $.ajax({
                url: rootDir + "Perfiles/ListadoAptitudesDisponiblePerfil",
                type: "GET",
                contentType: "application/json",
                data: {perfilID: perfilID}
            }).done(function (data) {
                cboDataTemporal = data;
                //cboAptitudes.setData(data);
                $.ajax({
                    url: rootDir + "Perfiles/ObtenerPerfilAptitud",
                    type: "GET",
                    contentType: "application/json",
                    data: {perfilAptitudID: aptitudActual.id}
                }).done(function (data){
                    if (data.error){
                        toastr(data.resultado);
                        return;
                    }
                    data = data.resultado;
                    
                    aptitud = {id:data.AptitudID, name:data.Aptitud};
                    cboDataTemporal.push(aptitud);
                    cboAptitudes.setData(cboDataTemporal);
                    cboAptitudes.setSelection(aptitud);

                    $(".nivelmanejo button[data-val="+data.NivelManejo+"]").click();
                    $(".unidadexperiencia button[data-val="+data.UnidadTiempoExperiencia+"]").click();
                    txtTiempoExperiencia.val(data.TiempoExperiencia);

                    $("lblTituloGestorAptitudes").html("Aptitud " + aptitud.name);
                    $("#btnAgregarAptitud").hide();
                    $("#btnModificarAptitud").show();
                    modalGestorAptitudes.modal("show");
                }).error(function (jq,err){
                    toastr.error("Problemas conectando al servidor");
                });
            }).error(function (jq, err) {
                toastr.error("Problemas conectando al servidor");
            });
        });

        $("body").delegate(".aptitud-remover","click",function(e){
            vm = $(this).parent().parent().parent();
            aptitudActual = {id:vm.data("id")};

            swal({ title: "Deseas remover aptitud?",   
                text: "Para las busquedas no existira esta aptitud",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Eliminar", 
                cancelButtonText: "Cancelar",
                closeOnConfirm: false 
            }, function(){   
                toastr.clear();
                $.ajax({
                    url:rootDir + 'Perfiles/RemoverAptitudPerfil',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({aptitudPerfilID:aptitudActual.id})
                }).done(function (data){
                    if (data.error){
                        toastr.error(data.mensaje);
                        return;
                    }
                
                    $("h2[data-id="+aptitudActual.id+"]").remove();
                    aptitudActual = null;
                    swal({title:"Eliminada!", 
                        text:"ha sido eliminada completamente",
                        type:"success",
                        timer: 2000,
                        showConfirmButton: false
                    }); 

                }).error(function (data){
                    toastr.error("Error contactando el servidor");
                    swal.close();
                });

            });
        });

        //MODALCONTROLS
        cboAptitudes = $("#cboAptitudes").magicSuggest({
            allowFreeEntries: false,
            maxSelection: 1,
            placeholder: 'Seleccionar Aptitud'
        });
        $("body").on("click", ".unidadexperiencia button", function (e) {
            vm = $(this);

            if (vm.hasClass("btn-default")) {
                vm.removeClass("btn-default").addClass("btn-primary");
            }
            vm.siblings().removeClass("btn-default").removeClass("btn-primary").addClass("btn-default");
            txtUnidadExperiencia.val(vm.data('val'));
        });
        $("body").on("click", ".nivelmanejo button", function (e) {
            vm = $(this);

            if (vm.hasClass("btn-default")) {
                vm.removeClass("btn-default").addClass("btn-primary");
            }
            vm.siblings().removeClass("btn-default").removeClass("btn-primary").addClass("btn-default");
            txtNivelManejo.val(vm.data('val'));
        });

        //MODAL
        $("body").on("click", "#btnModalAgregarAptitud", function (e) {
            $.ajax({
                url: rootDir + "Perfiles/ListadoAptitudesDisponiblePerfil",
                type: "GET",
                contentType: "application/json",
                data: {perfilID: perfilID}
            }).done(function (data) {
                cboAptitudes.setData(data);
                $("lblTituloGestorAptitudes").html("Agregar aptitud");
                $("#btnModificarAptitud").hide();
                $("#btnAgregarAptitud").show();
                modalGestorAptitudes.modal("show");
            }).error(function (jq, err) {
                toastr.error("Problemas conectando al servidor");
            });
        });
        modalGestorAptitudes.on("hide.bs.modal",function(e){
            cboDataTemporal = null;
            aptitudActual = null;
            cboAptitudes.clear();
            txtNivelManejo.val("");
            txtUnidadExperiencia.val("");
            
            txtTiempoExperiencia.val("");
            $(".nivelmanejo button, .unidadexperiencia  button")
                        .removeClass("btn-primary")
                        .removeClass("btn-default")
                        .addClass("btn-default");

        });
        modalGestorAptitudes.on("shown.bs.modal",function(e){
            cboAptitudes.input.focus();
        });

        modalGestorPerfil.on("shown.bs.modal",function(e){
            txtNombre.focus();
        });

        //POSTDATA - MODAL
        $("body").on("click","#btnAgregarAptitud",function(e){
            if (!validarModalGestorAptitud())
                return false;

            data = {
                PerfilID: perfilID,
                AptitudID: cboAptitudes.getValue()[0],
                NivelManejo: txtNivelManejo.val(),
                TiempoExperiencia: txtTiempoExperiencia.val(),
                UnidadTiempoExperiencia: txtUnidadExperiencia.val()
            };

            $.ajax({
                url: rootDir + "Perfiles/AgregarAptitudPerfil",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({entrada:data})
            }).done(function (data) {
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }
                aptitudAgregada = cboAptitudes.getSelection()[0];
                domAptitud = "<h2 class='aptitud-elemento' data-id='"+data.resultado+"'>";
                domAptitud += "<span class='label label-default'>";
                domAptitud += "<span class='aptitud-nombre'>"+aptitudAgregada.name+"</span> ";
                domAptitud += "<span style='background-color:#5bc0de' class='badge'>";
                domAptitud += "<span class='glyphicon glyphicon-remove aptitud-remover'></span>";
                domAptitud += "</span></span></h2>";
                $(".aptitudes h2:last").after(domAptitud);
                swal({
                    title: "Aptitud agregada satisfactoriamente",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                modalGestorAptitudes.modal("hide");
            }).error(function (jq,err) {
                toastr.error("Problemas conectando al servidor");
            });
        });

        $("body").on("click","#btnModificarAptitud",function(e){
            if (!validarModalGestorAptitud())
                return false;

            data = {
                PerfilID: perfilID,
                AptitudID: cboAptitudes.getValue()[0],
                NivelManejo: txtNivelManejo.val(),
                TiempoExperiencia: txtTiempoExperiencia.val(),
                UnidadTiempoExperiencia: txtUnidadExperiencia.val(),
                PerfilAptitudID: aptitudActual.id
            };

            $.ajax({
                url: rootDir + "Perfiles/ModificarAptitudPerfil",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({entrada:data})
            }).done(function (data) {
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }
                aptitudAgregada = cboAptitudes.getSelection()[0];
                domAptitud = "<span class='label label-default'>";
                domAptitud += "<span class='aptitud-nombre'>"+aptitudAgregada.name+"</span> ";
                domAptitud += "<span style='background-color:#5bc0de' class='badge'>";
                domAptitud += "<span class='glyphicon glyphicon-remove aptitud-remover'></span>";
                domAptitud += "</span></span></h2>";
                $("h2[data-id="+aptitudActual.id+"]").html(domAptitud);
                swal({
                    title: "Aptitud actualizada satisfactoriamente",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                modalGestorAptitudes.modal("hide");
            }).error(function (jq,err) {
                toastr.error("Problemas conectando al servidor");
            });
        });
    });

    function validarModalGestorAptitud(){
        toastr.clear();

        if (cboAptitudes.getSelection().length == 0) {
            toastr.error("Debe seleccionar una aptitud");
            cboAptitudes.input.focus();
            return false;
        }

        if (txtNivelManejo.val().trim().length == 0) {
            toastr.error("Debe seleccionar un nivel de manejo");
            return false;
        }
        if (txtTiempoExperiencia.val().trim().length == 0){
            toastr.error("Debe completar un tiempo de experiencia");
            txtTiempoExperiencia.focus();
            return false;
        }else if(parseInt(txtTiempoExperiencia.val())<1){
            toastr.error("Debe completar un tiempo de experiencia mayor que 0");
            txtTiempoExperiencia.focus();
            return false;
        }

        if (txtUnidadExperiencia.val().trim().length == 0) {
            toastr.error("Debe seleccionar una unidad de tiempo");
            return false;
        }
        return true;
    }

</script>