﻿@model TalentosApp.TransferenciaDatos.Entradas.PerfilInputModel

@{
    ViewBag.Title = "Registrar Perfil";
}
<style>
    #Descripcion{
        height: 125px;
    }
</style>
<h2><span class="glyphicon glyphicon-book"></span> Registrar Perfil</h2>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Favor de completar los campos correspondientes</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="Nombre">Nombre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Descripcion">Descripción</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descripcion, new {@class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "ListadoPerfilesPaginado", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}
<script>
    var txtNombre = null;
    var txtDescripcion = null;
    $(document).ready(function () {
        txtNombre = $("#Nombre");
        txtDescripcion = $("#Descripcion");

        txtNombre.focus();

        $("form").submit(function (e) {
            e.preventDefault();
            toastr.clear();
            if (txtNombre.val().trim().length == 0) {
                toastr.error("Debes completar el nombre");
                txtNombre.focus();
                return;
            }

            valores = {
                Nombre: txtNombre.val(),
                Descripcion: txtDescripcion.val()
            };

            $.ajax({
                url: rootDir + 'Perfiles/RegistrarPerfil',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    entrada: valores
                })
            }).done(function (data) {
                if (data.error) {
                    swal({
                        title: data.resultado,
                        type: "error",
                        text: "Se ha encontrado un error",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    toastr.error();
                    return;
                }

                swal({
                    title: "Solicitud procesada",
                    text: "Operación Completada",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                }, function () {
                    document.location.href = rootDir + 'Perfiles/DetallePerfil/' + data.resultado;
                });

            }).error(function (jq, err) {
                toastr.error("Error contactando al servidor");
            });

        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
