﻿@model TalentosApp.TransferenciaDatos.VistaModelos.PartialVacantePriorizacionViewModel


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css" />

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.js"></script>*@


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <label class="col-md-2">Aplicados</label>
            <div class="col-md-12">
                <select id="cboAplicados" name="Aplicados" size="10" class="form-control">
                    @foreach (var aplicado in Model.Especificadas)
                    {
                        <option value="@aplicado.VacantePriorizacionID.Value">@aplicado.Aptitud</option>
                    }
                </select>
            </div>
            <div class="col-md-offset-3 btn-group">
                <button class="btn btn-default" id="btnUp"><span class="glyphicon glyphicon-arrow-up"></span></button>
                <button class="btn btn-default" id="btnDown"><span class="glyphicon glyphicon-arrow-down"></span></button>
                <button class="btn btn-default" id="btnSave"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>
        <div class="col-md-1">
            <div class="">
                <button id="btnAgregar" class="btn btn-primary"><-</button>
                <button id="btnRemover" class="btn btn-danger">-></button>
            </div>
        </div>
        <div class="col-md-5">
            <label class="col-md-2">Opcionales</label>
            <div class="col-md-12">
                <select id="cboOpcionales" name="Opcionales" size="10" class="form-control">
                    @foreach (var opcional in Model.NoEspecificadas)
                    {
                        <option value="@opcional.AptitudID" 
                                data-aptitudPerfilID="@(opcional.AptitudPerfilID.HasValue? opcional.AptitudPerfilID.Value: -1)">
                            @opcional.Aptitud
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div id="modalAgregarPriorizacion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblTituloAgregarPriorizacion">Aptitud</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group">
                        <label class="col-md-2">Aptitud</label>
                        <p id="lblAptitud"></p>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Valoración Minima</label>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="optValoracionAptitud" autocomplete="off" value="1"> Muy Buena
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="optValoracionAptitud" autocomplete="off" value="2"> Buena
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="optValoracionAptitud" autocomplete="off" checked value="3"> Normal
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="optValoracionAptitud" autocomplete="off" value="4"> Mal
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="optValoracionAptitud" autocomplete="off" value="5"> Muy Mal
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="btnAgregarPriorizacion">Agregar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalModificarPriorizacion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblTituloModificarPriorizacion">Aptitud</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group">
                        <label class="col-md-2">Aptitud</label>
                        <p id="lblAptitudModificar"></p>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Valoración Minima</label>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="optValoracionAptitudModificar" autocomplete="off" value="1"> Muy Buena
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="optValoracionAptitudModificar" autocomplete="off" value="2"> Buena
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="optValoracionAptitudModificar" autocomplete="off" checked value="3"> Normal
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="optValoracionAptitudModificar" autocomplete="off" value="4"> Mal
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="optValoracionAptitudModificar" autocomplete="off" value="5"> Muy Mal
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="btnModificarPriorizacion">Modificar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var vacanteActualID = @Model.VacanteID;
    var btnAgregar = $("#btnAgregar");
    var btnRemover = $("#btnRemover");
    var cboAplicados = $("#cboAplicados");
    var cboOpcionales = $("#cboOpcionales");
    var modalAgregarPriorizacion = $("#modalAgregarPriorizacion");
    var modalModificarPriorizacion = $("#modalModificarPriorizacion");

    var btnAgregarPriorizacion = $("#btnAgregarPriorizacion");
    var btnModificarPriorizacion = $("#btnModificarPriorizacion");
    var btnUp = $("#btnUp");
    var btnDown = $("#btnDown");
    var btnSave = $("#btnSave");
    $(function () {

        btnAgregar.prop("disabled", true);
        btnRemover.prop("disabled", true);

        btnUp.on('click',function (e){
            vm = $("#cboAplicados option:selected");
            if (vm.length != 0){
                vm.insertBefore(vm.prev());
            }else{
                toastr.error("debe seleccionar un valor");
            }
        });

        btnDown.on('click',function (e){
            vm = $("#cboAplicados option:selected");
            if (vm.length != 0){
                vm.insertAfter(vm.next());
            }else{
                toastr.error("debe seleccionar un valor");
            }
        });

        btnSave.on('click',function (e){
            ordenAplicado = [];
            $('#cboAplicados option').each(
                function (index, elemento){
                    ordenAplicado.push(parseInt($(elemento).val()));
                }
            );
            toastr.clear();
            if (ordenAplicado.length == 0){
                toastr.error("No hay elementos para aplicar orden");
            }
            data = {
                vacanteID : vacanteActualID,
                ordenAplicado: ordenAplicado
            };
            $.ajax({
                url: 'http://localhost:58955/Vacantes/AlterarOrden',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data)
            }).done(function (data){
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }
                swal({title:"Guardado!", 
                    text:"Orden cambiado satisfactoriamente",
                    type:"success",
                    timer: 500,
                    showConfirmButton: false
                });
                
            }).error(function (jq,err){
                toastr.error("Contectando al servidor");
            });
        });

        btnRemover.on('click',function (e){
            vm = $("#cboAplicados option:selected");
            if (vm.length != 0){
                vm.insertAfter(vm.next());
            }else{
                toastr.error("debe seleccionar un valor");
            }
        });

        cboAplicados.on('dblclick',function (e){
            vm = $("#cboAplicados option:selected");
            if (vm.length != 0){
                $.ajax({
                    url: 'http://localhost:58955/Vacantes/ObtenerPriorizacion',
                    type: 'GET',
                    contentType: 'application/json',
                    data: {priorizacionID:vm.val()}
                }).done(function (data){
                    if (data.error){
                        toastr.error(data.resultado);
                        return;
                    }
                    data = data.resultado;
                    console.log(data);
                    $("#lblAptitudModificar").html(data.Aptitud);
                    $("input[name=optValoracionAptitudModificar][value="+data.ValoracionMinimaAptitud+"]").click();
                    modalModificarPriorizacion.modal('show');
                }).error(function (data){
                    toastr.error("Error cargando los datos");
                });
            }
        });

        btnAgregar.on("click", function (e) {
            vm = $("#cboOpcionales option:selected");
            modalAgregarPriorizacion.modal('show');
            $("#lblAptitud").html(vm.html());
        });


        btnModificarPriorizacion.on("click",function (e){
            vmAptitud = $("#cboAplicados option:selected");
            priorizacionID = vmAptitud.val();
            data = {
                priorizacionID : priorizacionID,
                valoracionAptitud: $('input[name=optValoracionAptitudModificar]:checked').val(),
            };
            $.ajax({
                url: 'http://localhost:58955/Vacantes/ModificarPriorizacion',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data)
            }).done(function (data) {
                if (data.error) {
                    toastr.error(data.resultado);
                    return;
                }
                toastr.success("Actualización completa");
                modalModificarPriorizacion.modal('hide');

            }).error(function (jq, data) {
                toastr.error("Error conectado con el servidor");
            });
        });

        btnAgregarPriorizacion.on("click", function (e) {
            vmAptitud = $("#cboOpcionales option:selected");
            aptitudPerfilID = vm.data("aptitudPerfilID");
            data = {
                VacanteID : vacanteActualID,
                ValoracionAptitud: $('input[name=optValoracionAptitud]:checked').val(),
                AptitudID: vm.val(),
                AptitudPerfilID: aptitudPerfilID == -1 ? null : aptitudPerfilID
            };
            $.ajax({
                url: 'http://localhost:58955/Vacantes/AgregarPriorizacion',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({entrada:data})
            }).done(function (data) {
                if (data.error) {
                    toastr.error(data.resultado);
                    return;
                }
                vmAptitud = $("#cboOpcionales option:selected");
                cboAplicados.append($('<option>', {
                    value: data.resultado,
                    text: vmAptitud.html()
                }));
                vmAptitud.remove();
                btnAgregar.prop("disabled", true);
                modalAgregarPriorizacion.modal('hide');
            }).error(function (jq, data) {
                toastr.error("Error conectado con el servidor");
            });
        });

        btnRemover.on("click", function (e) {
            vmAptitud = $("#cboAplicados option:selected");
            priorizacionID = vmAptitud.val();
            data = {
                priorizacionID : priorizacionID
            };
            $.ajax({
                url: 'http://localhost:58955/Vacantes/RemoverPriorizacion',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data)
            }).done(function (data) {
                if (data.error) {
                    toastr.error(data.resultado);
                    return;
                }
                swal({title:"Eliminada!", 
                    text:"ha sido eliminada completamente",
                    type:"success",
                    timer: 500,
                    showConfirmButton: false
                },function (){
                    var $link = $('li.active a[data-toggle="tab"]');
                    $link.parent().removeClass('active');
                    var tabLink = $link.attr('href');
                    $('#tabsContenido a[href="' + tabLink + '"]').tab('show');

                    swal.close();
                }); 
            }).error(function (jq, data) {
                toastr.error("Error conectado con el servidor");
            });
        });

        //cboAplicados
        cboAplicados.on("change", function (e) {
            btnRemover.prop("disabled", false);
            //alert($("#cboAplicados option:selected").val());
        });

        //cboOpcionales
        cboOpcionales.on("change", function (e) {
            btnAgregar.prop("disabled", false);
            //alert($("#cboOpcionales option:selected").val());
        });

    });
</script>
