﻿@model TalentosApp.TransferenciaDatos.VistaModelos.VacantesVw

@{
    ViewBag.Title = "Detalle de Vacante";
}

<h2><span class="glyphicon glyphicon-flash"></span> Vacante: @Model.Nombre </h2>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/magicsuggest-min.css" rel="stylesheet" />
<script src="~/Scripts/magicsuggest-min.js"></script>
<style>
    .aptitud-elemento, .perfil-aptitud-elemento{
        float:left;
        margin-left: 0.3%;
    }
    .aptitud-elemento span, .perfil-aptitud-elemento span{
        cursor:pointer;
    }
    div#sinperfiles, div#perfiles {
        overflow: auto;
    }
    .glyphicon-refresh-animate{
        -animation: spin .7s infinite linear; -webkit-animation: spin2 .7s infinite linear; 
    }
    @@-webkit-keyframes spin2 { 
        from { -webkit-transform: rotate(0deg);} 
        to { -webkit-transform: rotate(360deg);} 
    }
    @@keyframes spin { 
        from { transform: scale(1) rotate(0deg);} 
        to { transform: scale(1) rotate(360deg);} 
    }
</style>
<div>
    <h4>No.@string.Format("{0:D4}",Model.VacanteID) - 
    @switch ((TalentosApp.Servicios.Enums.VacantesEstado)Model.Estado)
    {
        case TalentosApp.Servicios.Enums.VacantesEstado.Notificada:
            <label class="label label-danger">Notificada</label>
            break;
        case TalentosApp.Servicios.Enums.VacantesEstado.Proceso:
        <label class="label label-warning">Proceso</label>
            break;
        case TalentosApp.Servicios.Enums.VacantesEstado.Concluida:
        <label class="label label-primary">Concluida</label>
            break;
        case TalentosApp.Servicios.Enums.VacantesEstado.Cancelada:
        <label class="label label-default">Cancelada</label>
            break;
    } (@Html.ActionLink("Volver al listado", "ListadoVacantesPaginado"))
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Fecha de Registro
        </dt>

        <dd>
            @Model.FechaRegistro.ToString("dd/MM/yyyy HH:mm tt")
        </dd>

    </dl>
</div>
<div>
    <div class="btn-group">
        <button type="button" class="btn btn-info" id="btnModalAgregarAptitud"> <span class="glyphicon glyphicon-plus"></span> Agregar Aptitud</button>
        <button type="button" class="btn btn-info" id="btnModalAgregarPerfil"> <span class="glyphicon glyphicon-plus"></span> Agregar Perfil</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalGestorVacante">
            <span class="glyphicon glyphicon-pencil"></span> Modificar
        </button>
        <button type="button" class="btn btn-danger" id="btnEliminarVacante"> <span class="glyphicon glyphicon-remove"></span> Eliminar</button>
    </div>
    <hr />
</div>
<div>
    <ul id="tabsContenido" class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#sinperfiles">Sin Perfiles</a>
        </li>
        <li>
            <a data-toggle="tab" href="#perfiles">Perfiles</a>
        </li>
        <li>
            <a data-toggle="tab" href="#priorizacion">Priorización</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="sinperfiles" class="tab-pane fade in active">
            <h2>Aptitudes</h2>(Total de aptitudes: <span id="lblCantidadAptitudes">@Model.Aptitudes.Count()</span>)
            <div class="aptitudes">
                <h2 style="visibility:hidden"></h2>
                @foreach (var aptitud in Model.Aptitudes)
                {
                    <h2 class='aptitud-elemento' data-id='@aptitud.VacanteAptitudID'>
                        <span class='label label-default'>
                            <span class="aptitud-nombre">@aptitud.Aptitud</span>
                            <span style="background-color:#5bc0de" class="badge">
                                <span class='glyphicon glyphicon-remove aptitud-remover'></span>
                            </span>
                        </span>
                    </h2>
                }
            </div>
        </div>

        <div id="priorizacion" class="tab-pane fade">
            <h2>Priorización</h2>
            <div id="contenidoPriorizacion"></div>
        </div>

  
        <div id="perfiles" class="tab-pane fade">
            <h2>Perfiles</h2>(Total de perfiles: <span id="lblCantidadPerfiles">@Model.Perfiles.Count()</span>)
            <div class="panel-group baseperfiles" id="accordion">
                <div class="panel" style="visibility:hidden"></div>
                @foreach (var perfil in Model.Perfiles)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#contenido@(perfil.VacantePerfilID)">
                                    @perfil.Perfil
                                </a>
                                <a class="btn btn-link opcionesPerfil" data-id="@perfil.VacantePerfilID">(Opciones)</a>
                            </h4>
                        </div>
                        <div id="contenido@(perfil.VacantePerfilID)" data-perfilid="@perfil.PerfilID" class="panel-collapse collapse perfilContenido">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div id="sinperfiles" class="tab-pane fade in active">
            <h2>Aptitudes</h2>(Total de aptitudes: <span id="lblCantidadAptitudes">@Model.Aptitudes.Count()</span>)
            <div class="aptitudes">
                <h2 style="visibility:hidden"></h2>
                @foreach (var aptitud in Model.Aptitudes)
                {
                    <h2 class='aptitud-elemento' data-id='@aptitud.VacanteAptitudID'>
                        <span class='label label-default'>
                            <span class="aptitud-nombre">@aptitud.Aptitud</span>
                            <span style="background-color:#5bc0de" class="badge">
                                <span class='glyphicon glyphicon-remove aptitud-remover'></span>
                            </span>
                        </span>
                    </h2>
                }
            </div>
        </div>
    </div>
</div>
<!--Modales-->
<div id="modalGestorVacante" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Vacante No.@string.Format("{0:D4}", Model.VacanteID)</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="ClienteID">Cliente*</label>
                        <div class="col-md-10">
                            @Html.DropDownList("ClienteID", (IEnumerable<SelectListItem>)ViewBag.Clientes)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Nombre">Nombre*</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Descripcion">Descripcion*</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnModificarVacante">Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div id="modalGestorAptitudes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblTituloGestorAptitudes">Agregar aptitud</h4>
            </div>
            <div class="modal-body">
                <div class="row form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Aptitud</label>
                        <div class="col-xs-9">
                            <select id="cboAptitudes"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nivel Manejo</label>
                        <div class="col-xs-9">
                            <div class="btn-group nivelmanejo">
                                <button type="button" class="btn btn-default" data-val="1">Elemental</button>
                                <button type="button" class="btn btn-default" data-val="2">Intermedio</button>
                                <button type="button" class="btn btn-default" data-val="3">Experto</button>
                            </div>
                            <input type="hidden" id="txtNivelManejo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Tiempo Experiencia</label>
                        <div class="col-xs-9">
                            <input type="text" id="txtTiempoExperiencia" class="form-control col-xs-4"
                                   onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                            <div class="btn-group unidadexperiencia">
                                <button type="button" class="btn btn-default" data-val="1">Meses</button>
                                <button type="button" class="btn btn-default" data-val="2">Años</button>
                            </div>
                            <input type="hidden" id="txtUnidadExperiencia" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAgregarAptitud">Agregar</button>
                <button type="button" class="btn btn-primary" id="btnModificarAptitud">Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div id="modalGestorPerfiles" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblTituloGestorPerfiles">Agregar perfil</h4>
            </div>
            <div class="modal-body">
                <div class="row form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Perfil</label>
                        <div class="col-xs-9">
                            <select id="cboPerfiles"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAgregarPerfil">Agregar</button>
                <button type="button" class="btn btn-primary" id="btnModificarPerfil">Modificar</button>
                <button type="button" class="btn btn-danger" id="btnEliminarPerfil">Eliminar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div id="modalVisorAptitudes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblTituloVisorAptitudes">Aptitud</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group">
                        <label class="col-md-2">Aptitud</label>
                        <p id="lblAptitudes"></p>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Nivel Manejo</label>
                        <p id="lblNivelManejo"></p>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Tiempo Experiencia</label>
                        <p id="lblTiempoExperiencia"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="btnVisualizarPerfil">Ver Perfil</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var vacanteID = @Model.VacanteID;
    var cboClientes = null;
    var cboAptitudes = null;
    var cboPerfiles = null;

    var txtNivelManejo = $("#txtNivelManejo");
    var txtUnidadExperiencia = $("#txtUnidadExperiencia");
    var txtTiempoExperiencia = $("#txtTiempoExperiencia");
    var lblCantidadAptitudes = $('#lblCantidadAptitudes');
    var lblCantidadPerfiles = $('#lblCantidadPerfiles');

    var modalGestorAptitudes = $('#modalGestorAptitudes');
    var modalGestorPerfiles = $('#modalGestorPerfiles');
    var modalVisorAptitudes = $('#modalVisorAptitudes');

    var lblTituloVisorAptitudes = $("#lblTituloVisorAptitudes");
    var lblAptitudes = $("#lblAptitudes");
    var lblNivelManejo = $("#lblNivelManejo");
    var lblTiempoExperiencia = $("#lblTiempoExperiencia");
    var btnVisualizarPerfil = $("#btnVisualizarPerfil");


    var aptitudVacanteActual = null;
    var perfilVacanteActual = null;
    var cboDataTemporal = null;
    var actualCollapseContent= null;
    var actualCollapseVM= null;
    var cuerpo = $('body');
    var btnModificarPerfil = $("#btnModificarPerfil");
    var btnEliminarPerfil = $("#btnEliminarPerfil");
    var btnAgregarPerfil = $("#btnAgregarPerfil");


    $(function () {

        ConfiguracionVisuales();

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            pestaña = e.target.href.substring(e.target.href.indexOf("#")+1);
            if (pestaña == "priorizacion"){
                swal({   
                    title: "Cargando!",   
                    text: "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span> Cargando datos...",
                    showConfirmButton: false,
                    html: true,
                    allowEscapeKey: false
                });

                data = {vacanteID: vacanteID};

                $.ajax({
                    url:rootDir+"Vacantes/VacantePriorizacion",
                    type: "GET",
                    data: {id: vacanteID},
                    contentType: 'application/json'
                }).done(function (data){
                    $("#contenidoPriorizacion").html(data);
                    swal.close();
                }).error(function (data){
                    $('#tabsContenido a:first').tab('show');
                    swal.close();
                    toastr.error("Conectando con el servidor");
                    
                });

            }
        });

        $("body").on("click","#btnModificarPerfil",function(e){
            if (perfilVacanteActual == null){
                toastr.error("Debe seleccionar una vacante");
                return ;
            }

            if (!validarModalGestorPerfiles)
                return false;

            data = {
                VacanteID: vacanteID,
                PerfilID: cboPerfiles.getValue()[0],
                VacantePerfilID: perfilVacanteActual
            };

            $.ajax({
                url: rootDir + 'Vacantes/ModificarVacantePerfiles',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({entrada: data})
            }).done(function (data){
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }

                
                perfilAgregado = cboPerfiles.getSelection()[0];
                domPerfil= "<div class='panel-heading'>";
                domPerfil+="<h4 class='panel-title'>";
                domPerfil+="<a data-toggle='collapse' data-parent='#accordion' href='#contenido"+data.resultado+"'>";
                domPerfil+= (perfilAgregado.name + "</a><a class='btn btn-link opcionesPerfil' data-id='"+data.resultado+"'>(Opciones)</a>");
                domPerfil+="</h4></div><div id='contenido"+data.resultado+"' data-perfilid='"+perfilAgregado.id+"' class='panel-collapse collapse perfilContenido'><div class='panel-body'></div></div>";
                $('[href=#contenido'+perfilVacanteActual+']').parent().parent().parent().html(domPerfil);
                swal({
                    title: "Perfil actualizado satisfactoriamente",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                modalGestorPerfiles.modal("hide");

            }).error(function (jq,err){
                toastr.error("Problemas conectando al servidor");
            });


        });

        $("body").on("click","#btnEliminarPerfil",function(e){
            if (perfilVacanteActual == null){
                toastr.error("Debe seleccionar una vacante");
                return ;
            }

            swal({ title: "Deseas remover perfil?",   
                text: "Para las busquedas no existira este perfil",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Eliminar", 
                cancelButtonText: "Cancelar",
                closeOnConfirm: false 
            }, function(){   
                toastr.clear();
                $.ajax({
                    url:rootDir + 'Vacantes/RemoverVacantePerfiles',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({vacantePerfilID:perfilVacanteActual})
                }).done(function (data){
                    if (data.error){
                        toastr.error(data.mensaje);
                        return;
                    }
                    $('[href=#contenido'+perfilVacanteActual+']').parent().parent().parent().remove();
                    perfilVacanteActual = null;
                    lblCantidadPerfiles.html(parseInt(lblCantidadPerfiles.html())-1);
                    swal({title:"Eliminada!", 
                        text:"ha sido eliminada completamente",
                        type:"success",
                        timer: 2000,
                        showConfirmButton: false
                    }); 

                    modalGestorPerfiles.modal('hide');

                }).error(function (data){
                    toastr.error("Error contactando el servidor");
                    swal.close();
                });

            });


        });

        $("body").delegate(".opcionesPerfil","click",function(e){
            vm = $(this);
            perfilVacanteActual = vm.data('id');
            $.ajax({
                url: rootDir + "Vacantes/ListadoPerfilesDisponibleVacante",
                type: "GET",
                contentType: "application/json",
                data: {vacanteID: vacanteID}
            }).done(function (data){
                cboDataTemporal = data;

                $.ajax({
                    url: rootDir + "Vacantes/ObtenerVacantePerfil",
                    type: "GET",
                    contentType: "application/json",
                    data: {vacantePerfilID: perfilVacanteActual}
                }).done(function (data){
                    data = data.resultado;

                    perfilActual = {
                        id:data.PerfilID,
                        name:data.Perfil
                    };
                    
                    cboDataTemporal.push(perfilActual);
                    cboPerfiles.setData(cboDataTemporal);
                    cboPerfiles.setSelection([perfilActual]);

                    $("#lblTituloGestorPerfiles").html("Perfil");
                    btnAgregarPerfil.hide();
                    btnModificarPerfil.show();
                    btnEliminarPerfil.show();

                    modalGestorPerfiles.modal('show');
                }).error(function (jq,error){
                    toastr.error("Problemas conectando al servidor");
                });
            }).error(function (jq,err){
                toastr.error("Problemas conectando al servidor");
            });
            

        });

        $("body").delegate(".perfil-aptitud-elemento","click",function(e){
            vm = $(this);
            aptitudPerfilActual = {id:vm.data("id")};
            $.ajax({
                url: rootDir + "Perfiles/ObtenerPerfilAptitud",
                type: "GET",
                contentType: "application/json",
                data: {perfilAptitudID: aptitudPerfilActual.id}
            }).done(function (data){
                if (data.error){
                    toastr(data.resultado);
                    return;
                }
                data = data.resultado;
                lblTituloVisorAptitudes.html("Perfil: "+ data.Perfil +" - Aptitud: " + data.Aptitud);
                lblAptitudes.html(data.Aptitud);
                lblNivelManejo.html(nivelManejoStr(data.NivelManejo));
                lblTiempoExperiencia.html(data.TiempoExperiencia+" "+unidadTiempoStr(data.UnidadTiempoExperiencia));
                btnVisualizarPerfil.attr("href",rootDir+'Perfiles/DetallePerfil/'+ data.PerfilID);
                modalVisorAptitudes.modal("show");
            }).error(function (jq,err){
                toastr.error("Problemas conectando al servidor");
            });
        });

        $("body").delegate('.perfilContenido','show.bs.collapse',function (e){
            vm = $(this);
            actualCollapseContent = $('#'+vm.attr('id')+' .panel-body');
            if (actualCollapseContent.html().length == 0){
                e.preventDefault();
                swal({   
                    title: "Cargando!",   
                    text: "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span> Cargando datos...",
                    showConfirmButton: false,
                    html: true,
                    allowEscapeKey: false
                });
                toastr.clear();
                perfilSeleccionado = vm.data('perfilid');
                actualCollapseVM = vm;
                $.ajax({
                    url: rootDir+'Perfiles/ObtenerPerfil',
                    type: 'GET',
                    contentType: 'application/json',
                    data: {id:perfilSeleccionado}
                }).done(function(data){
                    if (data.error){
                        toastr.error(data.resultado);
                        return;
                    }
                    aptitudesPerfil = "";
                    $.each(data.resultado.AptitudesPerfil, function (index,aptitud){
                        domAptitud = "<h2 class='perfil-aptitud-elemento' data-id='"+aptitud.PerfilAptitudID+"'>";
                        domAptitud += "<span class='label label-default'>";
                        domAptitud += aptitud.Aptitud;
                        domAptitud += "</span></h2>";
                        aptitudesPerfil += domAptitud;
                    });
                    actualCollapseContent.html(aptitudesPerfil);
                    actualCollapseVM.collapse("show");
                    swal.close();
                }).error(function (jq,err){
                    toastr.error("No hay conexion");
                    swal.close();
                });
            }else{
                cuerpo.animate({scrollTop: cuerpo.scrollTop()+ 100});
            }

        });

        //POSTDATA-MODAL
        $("body").delegate(".aptitud-nombre","click",function(e){
            vm = $(this).parent().parent();
            aptitudVacanteActual = {id:vm.data("id")};
            $.ajax({
                url: rootDir + "Vacantes/ListadoAptitudesDisponibleVacantes",
                type: "GET",
                contentType: "application/json",
                data: {vacanteID: vacanteID}
            }).done(function (data) {
                cboDataTemporal = data;
                $.ajax({
                    url: rootDir + "Vacantes/ObtenerVacanteAptitud",
                    type: "GET",
                    contentType: "application/json",
                    data: {vacanteAptitudID: aptitudVacanteActual.id}
                }).done(function (data){
                    if (data.error){
                        toastr.error(data.resultado);
                        return;
                    }
                    data = data.resultado;
                    aptitudActual = {id:data.AptitudID, name:data.Aptitud};
                    cboDataTemporal.push(aptitudActual);
                    cboAptitudes.setData(cboDataTemporal);
                    cboAptitudes.setSelection(aptitudActual);
                    $(".nivelmanejo button[data-val="+data.NivelManejo+"]").click();
                    $(".unidadexperiencia button[data-val="+data.UnidadTiempoExperiencia+"]").click();
                    txtTiempoExperiencia.val(data.TiempoExperiencia);

                    $("lblTituloGestorAptitudes").html("Aptitud " + aptitudActual.name);
                    $("#btnAgregarAptitud").hide();
                    $("#btnModificarAptitud").show();
                    modalGestorAptitudes.modal("show");
                }).error(function (jq,err){
                    toastr.error("Problemas conectando al servidor");
                });
            }).error(function (jq, err) {
                toastr.error("Problemas conectando al servidor");
            });
        });
        $("body").delegate(".aptitud-remover","click",function(e){
            vm = $(this).parent().parent().parent();
            aptitudVacanteActual = {id:vm.data("id")};

            swal({ title: "Deseas remover aptitud?",
                text: "Para las busquedas no existira esta aptitud en esta vacante",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Eliminar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            }, function(){
                toastr.clear();

                $.ajax({
                    url:rootDir + 'Vacantes/RemoverVacanteAptitud',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({vacanteAptitudID:aptitudVacanteActual.id})
                }).done(function (data){
                    if (data.error){
                        toastr.error(data.mensaje);
                        return;
                    }

                    $("h2[data-id="+aptitudVacanteActual.id+"]").remove();
                    lblCantidadAptitudes.html(parseInt(lblCantidadAptitudes.html())-1);
                    aptitudVacanteActual = null;
                    swal({title:"Eliminada!",
                        text:"ha sido eliminada completamente",
                        type:"success",
                        timer: 2000,
                        showConfirmButton: false
                    });

                }).error(function (data){
                    toastr.error("Error contactando el servidor");
                    swal.close();
                    aptitudVacanteActual = null;
                });

            });
        });

        $("body").on("click","#btnAgregarPerfil",function(e){
            if (!validarModalGestorPerfiles)
                return false;

            data = {
                VacanteID: vacanteID,
                PerfilID: cboPerfiles.getValue()[0]
            };

            $.ajax({
                url: rootDir + 'Vacantes/RegistrarVacantePerfiles',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({entrada: data})
            }).done(function (data){
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }


                perfilAgregado = cboPerfiles.getSelection()[0];
                domPerfil = "<div class='panel panel-default'>";
                domPerfil+= "<div class='panel-heading'>";
                domPerfil+="<h4 class='panel-title'>";
                domPerfil+="<a data-toggle='collapse' data-parent='#accordion' href='#contenido"+data.resultado+"'>";
                domPerfil+= (perfilAgregado.name + "</a><a class='btn btn-link opcionesPerfil' data-id='"+data.resultado+"'>(Opciones)</a>");
                domPerfil+="</h4></div><div id='contenido"+data.resultado+"' data-perfilid='"+perfilAgregado.id+"' class='panel-collapse collapse perfilContenido'><div class='panel-body'></div></div></div>";
                lblCantidadPerfiles.html(parseInt(lblCantidadPerfiles.html())+1);
                $(".baseperfiles div.panel:last").after(domPerfil);
                swal({
                    title: "Perfil agregado satisfactoriamente",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                modalGestorPerfiles.modal("hide");

            }).error(function (jq,err){
                toastr.error("Problemas conectando al servidor");
            });
        });

        $("body").on("click","#btnAgregarAptitud",function(e){
            if (!validarModalGestorAptitud())
                return false;

            data = {
                VacanteID: vacanteID,
                AptitudID: cboAptitudes.getValue()[0],
                NivelManejo: txtNivelManejo.val(),
                TiempoExperiencia: txtTiempoExperiencia.val(),
                UnidadTiempoExperiencia: txtUnidadExperiencia.val()
            };

            $.ajax({
                url: rootDir + "Vacantes/RegistrarVacanteAptitud",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({entrada:data})
            }).done(function (data) {
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }
                aptitudAgregada = cboAptitudes.getSelection()[0];
                domAptitud = "<h2 class='aptitud-elemento' data-id='"+data.resultado+"'>";
                domAptitud += "<span class='label label-default'>";
                domAptitud += "<span class='aptitud-nombre'>"+aptitudAgregada.name+"</span> ";
                domAptitud += "<span style='background-color:#5bc0de' class='badge'>";
                domAptitud += "<span class='glyphicon glyphicon-remove aptitud-remover'></span>";
                domAptitud += "</span></span></h2>";
                $(".aptitudes h2:last").after(domAptitud);
                lblCantidadAptitudes.html(parseInt(lblCantidadAptitudes.html())+1);
                swal({
                    title: "Aptitud agregada satisfactoriamente",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                modalGestorAptitudes.modal("hide");
            }).error(function (jq,err) {
                toastr.error("Problemas conectando al servidor");
            });
        });
        $("body").on("click","#btnModificarAptitud",function(e){
            if (!validarModalGestorAptitud())
                return false;

            data = {
                VacanteID: vacanteID,
                AptitudID: cboAptitudes.getValue()[0],
                NivelManejo: txtNivelManejo.val(),
                TiempoExperiencia: txtTiempoExperiencia.val(),
                UnidadTiempoExperiencia: txtUnidadExperiencia.val(),
                VacanteAptitudID: aptitudVacanteActual.id
            };
            $.ajax({
                url: rootDir + "Vacantes/ModificarVacanteAptitud",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({entrada:data})
            }).done(function (data) {
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }
                aptitudAgregada = cboAptitudes.getSelection()[0];
                domAptitud = "<span class='label label-default'>";
                domAptitud += "<span class='aptitud-nombre'>"+aptitudAgregada.name+"</span> ";
                domAptitud += "<span style='background-color:#5bc0de' class='badge'>";
                domAptitud += "<span class='glyphicon glyphicon-remove aptitud-remover'></span>";
                domAptitud += "</span></span></h2>";
                vm = $("h2[data-id="+aptitudVacanteActual.id+"]");
                vm.html(domAptitud);

                swal({
                    title: "Aptitud actualizada satisfactoriamente",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                modalGestorAptitudes.modal("hide");
            }).error(function (jq,err) {
                toastr.error("Problemas conectando al servidor");
            });
        });


        $("#modalGestorVacante").on('shown.bs.modal',function(e){
            cboClientes.input.focus();
        });

        modalGestorPerfiles.on("shown.bs.modal",function(e){
            cboPerfiles.input.focus();
        });

        modalGestorPerfiles.on("hide.bs.modal",function(e){
            cboPerfiles.clear();
            cboDataTemporal = null;
            perfilVacanteActual = null;
        });

        modalGestorAptitudes.on("shown.bs.modal",function(e){
            cboAptitudes.input.focus();
        });

        modalGestorAptitudes.on("hide.bs.modal",function(e){
            cboDataTemporal = null;
            aptitudVacanteActual = null;
            cboAptitudes.clear();
            txtNivelManejo.val("");
            txtUnidadExperiencia.val("");
            txtTiempoExperiencia.val("");
            $(".nivelmanejo button, .unidadexperiencia  button")
                        .removeClass("btn-primary")
                        .removeClass("btn-default")
                        .addClass("btn-default");

        });

        //BTN-OPCIONES
        $("body").on("click","#btnModalAgregarPerfil",function (e){
            $.ajax({
                url: rootDir + "Vacantes/ListadoPerfilesDisponibleVacante",
                type: "GET",
                contentType: "application/json",
                data: {vacanteID: vacanteID}
            }).done(function (data){
                if (data.length == 0){
                    toastr.error("No hay perfiles disponible, por eso no se continuara la solicitud");
                    return;
                }

                cboPerfiles.setData(data);
                $("#lblTituloGestorPerfiles").html("Agregar perfil");
                btnModificarPerfil.hide();
                btnEliminarPerfil.hide();
                btnAgregarPerfil.show();
                modalGestorPerfiles.modal("show");
            }).error(function (jq,err){
                toastr.error("Problemas conectando al servidor");
            });
        });
        $("body").on("click", "#btnModalAgregarAptitud", function (e) {
            $.ajax({
                url: rootDir + "Vacantes/ListadoAptitudesDisponibleVacantes",
                type: "GET",
                contentType: "application/json",
                data: {vacanteID: vacanteID}
            }).done(function (data) {
                if (data.length == 0){
                    toastr.error("No hay aptitudes disponible, por eso no se continuara la solicitud");
                    return;
                }

                cboAptitudes.setData(data);
                $("#lblTituloGestorAptitudes").html("Agregar aptitud");
                $("#btnModificarAptitud").hide();
                $("#btnAgregarAptitud").show();
                modalGestorAptitudes.modal("show");
            }).error(function (jq, err) {
                toastr.error("Problemas conectando al servidor");
            });
        });

        $("body").on("click","#btnEliminarVacante",function(e){
            swal({
                title:"Deseas remover vacante",
                text: "Se desvinculara todos los filtros generados para esta vacante",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Eliminar",
                cancelButtonText: "Cancelar",
                closeOnConfirm:false
            },function(){
                toastr.clear();
                $.ajax({
                    url:rootDir + 'Vacantes/EliminarVacante',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({vacanteID:vacanteID})
                }).done(function (data){
                    if (data.error){
                        toastr.error(data.resultado);
                        return;
                    }
                    document.location.href = rootDir + "Vacantes/ListadoVacantesPaginado";
                }).error(function (data){
                    toastr.error("Error contactando el servidor");
                    swal.close();
                });
            });

        });
        $("body").on("click","#btnModificarVacante",function(e){
            toastr.clear();

            txtNombre = $("#Nombre");
            txtDescripcion = $("#Descripcion");

            if (cboClientes.getValue().length == 0) {
                toastr.error("Debe seleccionar un cliente");
                cboClientes.input.focus();
                return;
            }

            if (txtNombre.val().trim().length == 0) {
                toastr.error("Debe completar el campo nombre");
                txtNombre.focus();
                return;
            }

            if (txtDescripcion.val().trim().length == 0) {
                toastr.error("Debe completar el campo descripción");
                txtDescripcion.focus();
                return;
            }

            vacante = {
                VacanteID: vacanteID,
                ClienteID: cboClientes.getValue()[0],
                Nombre: txtNombre.val(),
                Descripcion: txtDescripcion.val()
            };

            $.ajax({
                url: rootDir + 'Vacantes/ModificarVacante',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({entrada:vacante})
            }).done(function (data) {
                if (data.error) {
                    toastr.error(data.resultado);
                    return;
                }
                swal({
                    title: "Proceso completado satisfactoriamente!",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                }, function () {
                    document.location.reload();
                });

            }).error(function (jq, err) {
                toastr.error("Problemas con conexion al servidor");
            });

        });
    });

    function validarModalGestorPerfiles(){
        toastr.clear();

        if (cboPerfiles.getSelection().length == 0){
            toastr.error("Debe seleccionar un perfil");
            cboPerfiles.input.focus();
            return false;
        }
        return true;
    }
    function validarModalGestorAptitud(){
        toastr.clear();

        if (cboAptitudes.getSelection().length == 0) {
            toastr.error("Debe seleccionar una aptitud");
            cboAptitudes.input.focus();
            return false;
        }

        if (txtNivelManejo.val().trim().length == 0) {
            toastr.error("Debe seleccionar un nivel de manejo");
            return false;
        }

        if (txtTiempoExperiencia.val().trim().length == 0){
            toastr.error("Debe completar un tiempo de experiencia");
            txtTiempoExperiencia.focus();
            return false;
        }else if(parseInt(txtTiempoExperiencia.val())<1){
            toastr.error("Debe completar un tiempo de experiencia mayor que 0");
            txtTiempoExperiencia.focus();
            return false;
        }

        if (txtUnidadExperiencia.val().trim().length == 0) {
            toastr.error("Debe seleccionar una unidad de tiempo");
            return false;
        }
        return true;
    }

    function ConfiguracionVisuales (){
        cboClientes = $("#ClienteID").magicSuggest({ maxSelection: 1, allowFreeEntries: false, placeholder: 'Seleccionar cliente' });
        cboAptitudes = $("#cboAptitudes").magicSuggest({allowFreeEntries: false,maxSelection: 1,placeholder: 'Seleccionar aptitud'});
        cboPerfiles = $("#cboPerfiles").magicSuggest({allowFreeEntries: false,maxSelection: 1,placeholder: 'Seleccionar perfiles'});
        cboClientes.setSelection([{id:@Model.ClienteID, name: '@Model.Cliente'}]);
        $("body").on("click", ".unidadexperiencia button", function (e) {
            vm = $(this);

            if (vm.hasClass("btn-default")) {
                vm.removeClass("btn-default").addClass("btn-primary");
            }
            vm.siblings().removeClass("btn-default").removeClass("btn-primary").addClass("btn-default");
            txtUnidadExperiencia.val(vm.data('val'));
        });
        $("body").on("click", ".nivelmanejo button", function (e) {
            vm = $(this);

            if (vm.hasClass("btn-default")) {
                vm.removeClass("btn-default").addClass("btn-primary");
            }
            vm.siblings().removeClass("btn-default").removeClass("btn-primary").addClass("btn-default");
            txtNivelManejo.val(vm.data('val'));
        });
    }

    function nivelManejoStr(valor){
        switch(valor){
            case 1:
                return "Elemental";
            case 2:
                return "Intermedio";
            case 3:
                return "Experto";
        }
    }

    function unidadTiempoStr(valor){
        switch(valor){
            case 1:
                return "Meses";
            case 2:
                return "Años";
        }
    }
</script>