﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<TalentosApp.TransferenciaDatos.VistaModelos.VacantesVw>

@{
    ViewBag.Title = "Listado de Vacantes";
}
<style>
    .registro:hover {
        background-color: ActiveCaption;
        cursor: pointer;
    }
</style>
<h2><span class="glyphicon glyphicon-flash"></span>Listado de Vacantes</h2>
<h4 style="margin-left:4px;"> <i class="glyphicon glyphicon-search"></i> Búsqueda</h4>
@using (Html.BeginForm("", "", FormMethod.Post))
{
    <div id="panelBusqueda" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="TextoBusquedad" name="TextoBusquedad" aria-label="...">
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Filtros
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="padding:12px; width: 400px !important;">
                    <li>
                        <span class="bold">Por:</span>
                        <select class="form-control" id="Estado" name="Estado">
                            <option value="0">Nombre</option>
                            <option value="1">Descripción</option>
                        </select>
                    </li>
                    <li>
                        <div class="dropdown">
                            <div class="form-inline">
                                <span class="bold">Tipo de aptitud</span>
                                <select class="form-control" id="Estado" name="Estado">
                                    <option value="0">Todos</option>
                                    <option value="1">Idiomática</option>
                                    <option value="2">Técnica</option>
                                    <option value="3">Subjetiva</option>
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
        </button>
        @Html.ActionLink("Registrar Vacante", "RegistrarVacante", null, new { @class = "btn btn-primary" })
    </div>
}
<hr style="visibility:hidden" />
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                No. Vacante
            </th>
            <th>
                Nombre
            </th>
            <th>
                Cliente
            </th>
            <th>
                Fecha de Registro
            </th>
            <th>
                Estado
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="registro" data-id="@item.VacanteID">
                <td>
                    @string.Format("{0:D4}", item.VacanteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @item.FechaRegistro.ToString("dd/MM/yyyy HH:mm t")
                </td>
                <td>
                    @switch ((TalentosApp.Enumeradores.VacantesEstado)item.Estado)
                    {
                        case TalentosApp.Enumeradores.VacantesEstado.Notificada:
                            <label class="label label-danger">Notificada</label>
                            break;
                        case TalentosApp.Enumeradores.VacantesEstado.Proceso:
                        <label class="label label-warning">Proceso</label>
                            break;
                        case TalentosApp.Enumeradores.VacantesEstado.Concluida:
                        <label class="label label-primary">Concluida</label>
                            break;
                        case TalentosApp.Enumeradores.VacantesEstado.Cancelada:
                        <label class="label label-default">Cancelada</label>
                            break;
                    }
                </td>
            </tr>
        }
    </table>
</div>
<div class="row">
    <div class="text-center">
        @Html.PagedListPager(Model, pagina => Url.Action("ListadoVacantesPaginado", new { pagina }))
    </div>
</div>

<script>
    $(function () {
        $(".registro").on("dblclick", function (e) {
            vm = $(this);
            document.location.href = rootDir + "Vacantes/DetalleVacante/" + vm.data("id");
        });
    });
</script>