﻿@model TalentosApp.TransferenciaDatos.Entradas.VacanteInputModel

@{
    ViewBag.Title = "Registrar Vacante";
}

<h2><span class="glyphicon glyphicon-flash"></span>Registrar Vacante</h2>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/magicsuggest-min.css" rel="stylesheet" />
<script src="~/Scripts/magicsuggest-min.js"></script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Favor de completar los campos correspondientes</h4>
        <hr />
        @if (ViewBag.Message != null)
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="text-danger">@((string)ViewBag.Message)</div>
        }

        <div class="form-group">
            <label class="control-label col-md-2" for="ClienteID">Cliente*</label>
            <div class="col-md-10">
                @Html.DropDownList("ClienteID",(IEnumerable<SelectListItem>)ViewBag.Clientes)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Nombre">Nombre*</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Descripcion">Descripcion*</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control"  })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "ListadoVacantesPaginado", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}
<script>
    var cboClientes = null;
    $(function () {
        cboClientes = $("#ClienteID").magicSuggest({ maxSelection: 1, placeholder: 'Seleccionar cliente', allowFreeEntries: false });
        $("form").on("submit", function (e) {
            e.preventDefault();
            toastr.clear();

            txtNombre = $("#Nombre");
            txtDescripcion = $("#Descripcion");

            if (cboClientes.getValue().length == 0) {
                toastr.error("Debe seleccionar un cliente");
                cboClientes.input.focus();
                return;
            }

            if (txtNombre.val().trim().length == 0) {
                toastr.error("Debe completar el campo nombre");
                txtNombre.focus();
                return;
            }

            if (txtDescripcion.val().trim().length == 0) {
                toastr.error("Debe completar el campo descripción");
                txtDescripcion.focus();
                return;
            }

            vacante = {
                ClienteID: cboClientes.getValue()[0],
                Nombre: txtNombre.val(),
                Descripcion: txtDescripcion.val()
            };

            $.ajax({
                url: rootDir + 'Vacantes/RegistrarVacante',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({entrada:vacante})
            }).done(function (data) {
                if (data.error) {
                    toastr.error(data.resultado);
                    return;
                }
                swal({
                    title: "Proceso completado satisfactoriamente!",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                }, function () {
                    document.location.href = rootDir + 'Vacantes/DetalleVacante/' + data.resultado;
                });

            }).error(function (jq, err) {
                toastr.error("Problemas con conexion al servidor");
            });

           
        });
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
