﻿@model TalentosApp.TransferenciaDatos.VistaModelos.TalentosVw

@{
    ViewBag.Title = "Detalle del Talento";
}

<h2><span class="glyphicon glyphicon-sunglasses"></span> Talento: @Model.NombreSimple</h2>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/magicsuggest-min.css" rel="stylesheet" />
<script src="~/Scripts/magicsuggest-min.js"></script>

<style>
    .aptitud-elemento{
        float:left;
        margin-left: 0.3%;
    }
    .aptitud-elemento span{
        cursor:pointer;
    }
</style>
<div>
    <h4>No.@string.Format("{0:D4}", Model.TalentoID) (@Html.ActionLink("Volver al listado", "ListadoTalentosPaginado"))</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre completo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>

        <dt>
            Sexo
        </dt>

        <dd>
            @((TalentosApp.Enumeradores.Sexo)Model.Sexo)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Model.FechaNacimiento.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @if (Model.TipoDocumentoIdentidad != -1)
        {
            <dt>
                Doc. de Identidad
            </dt>

            <dd>
                @Model.DocumentoIdentidad
            </dd>

            <dt>
                Tipo de Documento
            </dt>

            <dd>
                @((TalentosApp.Enumeradores.TipoDocumentoIdentidad)Model.TipoDocumentoIdentidad)
            </dd>
        }
    </dl>
</div>
<div>
    <div class="btn-group">
        <button type="button" class="btn btn-info" id="btnModalAgregarAptitud"> <span class="glyphicon glyphicon-plus"></span> Agregar aptitud</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalGestorTalento"> <span class="glyphicon glyphicon-pencil"></span> Modificar</button>
        <button type="button" class="btn btn-danger" id="btnEliminarTalento"> <span class="glyphicon glyphicon-remove"></span> Eliminar</button>
    </div>
    <hr />
</div>
<div>
    <h4>Aptitudes</h4>
    <div class="col-md-12 aptitudes">
        <h2 style="visibility:hidden"></h2>
        @foreach (var aptitud in Model.Aptitudes)
        {
            <h2 class='aptitud-elemento' data-id='@aptitud.TalentoAptitudID'>
                <span class='label label-default'>
                    <span class="aptitud-nombre">@aptitud.Aptitud</span>
                    <span style="background-color:#5bc0de" class="badge">
                        <span class='glyphicon glyphicon-remove aptitud-remover'></span>
                    </span>
                </span>
            </h2>
        }
    </div>
</div>

<div style="visibility:hidden"><h3>VirtualSpace</h3></div>

<!-- Modales-->
<div id="modalGestorTalento" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Talento No.@string.Format("{0:D4}", Model.TalentoID)</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group">
                        <h4 class="col-md-12">Nombres</h4>
                        <div class="col-md-4">
                            <label class="control-label col-md-2" for="PrimerNombre">Primer*</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-2" for="SegundoNombre">Segundo</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <h4 class="col-md-12">Apellidos</h4>
                        <div class="col-md-4">
                            <label class="control-label col-md-2" for="PrimerApellido">Primer*</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="control-label col-md-2" for="SegundoApellido">Segundo</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label col-md-2" for="Sexo">Sexo*</label>
                            <div class="col-md-10">
                                <div class="radio">
                                    <label><input type="radio" name="optSexo" value="1">Masculino</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="optSexo" value="2">Femenino</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-2" for="FechaNacimiento">Nacimiento*</label>
                            <div class="col-md-10">
                                <input type="date" name="FechaNacimiento" value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" id="FechaNacimiento" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label col-md-2" for="Email">Email*</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-2" for="DocumentoIdentidad">Doc. Identidad*</label>
                            <div class="col-md-10 form-inline">
                                <input type="text" class="form-control" id="DocumentoIdentidad" value="@Model.DocumentoIdentidad"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                <select id="TipoDocumentoIdentidad" class="form-control">
                                    <option value="1">Cedula</option>
                                    <option value="2">Pasaporte</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnModificarTalento">Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalGestorAptitudes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblTituloGestorAptitudes">Agregar aptitud</h4>
            </div>
            <div class="modal-body">
                <div class="row form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Aptitud</label>
                        <div class="col-xs-9">
                            <select id="cboAptitudes"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nivel Manejo</label>
                        <div class="col-xs-9">
                            <div class="btn-group nivelmanejo">
                                <button type="button" class="btn btn-default" data-val="1">Elemental</button>
                                <button type="button" class="btn btn-default" data-val="2">Intermedio</button>
                                <button type="button" class="btn btn-default" data-val="3">Experto</button>
                            </div>
                            <input type="hidden" id="txtNivelManejo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Tiempo Experiencia</label>
                        <div class="col-xs-9">
                            <input type="text" id="txtTiempoExperiencia" class="form-control col-xs-4"
                                   onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                            <div class="btn-group unidadexperiencia">
                                <button type="button" class="btn btn-default" data-val="1">Meses</button>
                                <button type="button" class="btn btn-default" data-val="2">Años</button>
                            </div>
                            <input type="hidden" id="txtUnidadExperiencia" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Valoración</label>
                        <div class="col-xs-9">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" name="optValoracionAptitud" autocomplete="off" value="1"> Muy Buena
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="optValoracionAptitud" autocomplete="off" value="2"> Buena
                                </label>
                                <label class="btn btn-default active">
                                    <input type="radio" name="optValoracionAptitud" autocomplete="off" checked value="3"> Normal
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="optValoracionAptitud" autocomplete="off" value="4"> Mal
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="optValoracionAptitud" autocomplete="off" value="5"> Muy Mal
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="optValoracionAptitud" autocomplete="off" value="0"> No Valorada
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAgregarAptitud">Agregar</button>
                <button type="button" class="btn btn-primary" id="btnModificarAptitud">Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var talentoID = @Model.TalentoID;
    var modalGestorAptitudes = $("#modalGestorAptitudes");
    var cboAptitudes = null;

    var txtNivelManejo = $("#txtNivelManejo");
    var txtUnidadExperiencia = $("#txtUnidadExperiencia");
    var txtTiempoExperiencia = $("#txtTiempoExperiencia");
    var aptitudTalentoActual = null;
    var cboDataTemporal = null;

    $(function (e) {
        $("input[name=optSexo][value=@Model.Sexo]").click();
        $("#TipoDocumentoIdentidad").val(@Model.TipoDocumentoIdentidad);

        $("body").delegate(".aptitud-nombre","click",function(e){
            vm = $(this).parent().parent();
            aptitudTalentoActual = {id:vm.data("id")};
            $.ajax({
                url: rootDir + "Talentos/ListadoAptitudesDisponibleTalentos",
                type: "GET",
                contentType: "application/json",
                data: {talentoID: talentoID}
            }).done(function (data) {
                cboDataTemporal = data;
                $.ajax({
                    url: rootDir + "Talentos/ObtenerTalentoAptitud",
                    type: "GET",
                    contentType: "application/json",
                    data: {talentoAptitudID: aptitudTalentoActual.id}
                }).done(function (data){
                    if (data.error){
                        toastr(data.resultado);
                        return;
                    }
                    data = data.resultado;
                    aptitudActual = {id:data.AptitudID, name:data.Aptitud};
                    cboDataTemporal.push(aptitudActual);
                    cboAptitudes.setData(cboDataTemporal);
                    cboAptitudes.setSelection(aptitudActual);

                    $(".nivelmanejo button[data-val="+data.NivelManejo+"]").click();
                    $(".unidadexperiencia button[data-val="+data.UnidadTiempoExperiencia+"]").click();
                    $("input[name=optValoracionAptitud][value="+data.ValoracionAptitud+"]").click();
                    txtTiempoExperiencia.val(data.TiempoExperiencia);

                    $("lblTituloGestorAptitudes").html("Aptitud " + aptitudActual.name);
                    $("#btnAgregarAptitud").hide();
                    $("#btnModificarAptitud").show();
                    modalGestorAptitudes.modal("show");
                }).error(function (jq,err){
                    toastr.error("Problemas conectando al servidor");
                });
            }).error(function (jq, err) {
                toastr.error("Problemas conectando al servidor");
            });
        });

        $("body").delegate(".aptitud-remover","click",function(e){
            vm = $(this).parent().parent().parent();
            aptitudTalentoActual = {id:vm.data("id")};

            swal({ title: "Deseas remover aptitud?",   
                text: "Para las busquedas no existira esta aptitud en este talento",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Eliminar", 
                cancelButtonText: "Cancelar",
                closeOnConfirm: false 
            }, function(){   
                toastr.clear();

                $.ajax({
                    url:rootDir + 'Talentos/RemoverTalentoAptitud',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({talentoAptitudID:aptitudTalentoActual.id})
                }).done(function (data){
                    if (data.error){
                        toastr.error(data.mensaje);
                        return;
                    }
                
                    $("h2[data-id="+aptitudTalentoActual.id+"]").remove();
                    aptitudTalentoActual = null;
                    swal({title:"Eliminada!", 
                        text:"ha sido eliminada completamente",
                        type:"success",
                        timer: 2000,
                        showConfirmButton: false
                    }); 

                }).error(function (data){
                    toastr.error("Error contactando el servidor");
                    swal.close();
                    aptitudTalentoActual = null;
                });

            });
        });

        //ModalControl
        cboAptitudes = $("#cboAptitudes").magicSuggest({
            allowFreeEntries: false,
            maxSelection: 1,
            placeholder: 'Seleccionar Aptitud'
        });
        $("body").on("click", ".unidadexperiencia button", function (e) {
            vm = $(this);

            if (vm.hasClass("btn-default")) {
                vm.removeClass("btn-default").addClass("btn-primary");
            }
            vm.siblings().removeClass("btn-default").removeClass("btn-primary").addClass("btn-default");
            txtUnidadExperiencia.val(vm.data('val'));
        });
        $("body").on("click", ".nivelmanejo button", function (e) {
            vm = $(this);

            if (vm.hasClass("btn-default")) {
                vm.removeClass("btn-default").addClass("btn-primary");
            }
            vm.siblings().removeClass("btn-default").removeClass("btn-primary").addClass("btn-default");
            txtNivelManejo.val(vm.data('val'));
        });

        //Modal-EVENTS

        modalGestorAptitudes.on("hide.bs.modal",function(e){
            cboDataTemporal = null;
            aptitudTalentoActual = null;
            aptitudActual = null;
            cboAptitudes.clear();
            txtNivelManejo.val("");
            txtUnidadExperiencia.val("");
            txtTiempoExperiencia.val("");
            $(".nivelmanejo button, .unidadexperiencia  button")
                        .removeClass("btn-primary")
                        .removeClass("btn-default")
                        .addClass("btn-default");

        });

        modalGestorAptitudes.on("shown.bs.modal",function(e){
            cboAptitudes.input.focus();
        });

        //POSTDATA-MODAL
        $("body").on("click","#btnAgregarAptitud",function(e){
            if (!validarModalGestorAptitud())
                return false;

            data = {
                TalentoID: talentoID,
                AptitudID: cboAptitudes.getValue()[0],
                NivelManejo: txtNivelManejo.val(),
                TiempoExperiencia: txtTiempoExperiencia.val(),
                UnidadTiempoExperiencia: txtUnidadExperiencia.val(),
                ValoracionAptitud: $('input[name=cboAplicados]:checked').val()
            };

            $.ajax({
                url: rootDir + "Talentos/AgregarTalentoAptitud",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({entrada:data})
            }).done(function (data) {
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }
                aptitudAgregada = cboAptitudes.getSelection()[0];
                domAptitud = "<h2 class='aptitud-elemento' data-id='"+data.resultado+"'>";
                domAptitud += "<span class='label label-default'>";
                domAptitud += "<span class='aptitud-nombre'>"+aptitudAgregada.name+"</span> ";
                domAptitud += "<span style='background-color:#5bc0de' class='badge'>";
                domAptitud += "<span class='glyphicon glyphicon-remove aptitud-remover'></span>";
                domAptitud += "</span></span></h2>";
                $(".aptitudes h2:last").after(domAptitud);
                swal({
                    title: "Aptitud agregada satisfactoriamente",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                modalGestorAptitudes.modal("hide");
            }).error(function (jq,err) {
                toastr.error("Problemas conectando al servidor");
            });
        });

        $("body").on("click","#btnModificarAptitud",function(e){
            if (!validarModalGestorAptitud())
                return false;

            data = {
                TalentoID: talentoID,
                AptitudID: cboAptitudes.getValue()[0],
                NivelManejo: txtNivelManejo.val(),
                TiempoExperiencia: txtTiempoExperiencia.val(),
                UnidadTiempoExperiencia: txtUnidadExperiencia.val(),
                TalentoAptitudID: aptitudTalentoActual.id,
                ValoracionAptitud: $('input[name=optValoracionAptitud]:checked').val()
            };

            $.ajax({
                url: rootDir + "Talentos/ModificarTalentoAptitud",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({entrada:data})
            }).done(function (data) {
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }
                aptitudAgregada = cboAptitudes.getSelection()[0];
                domAptitud = "<span class='label label-default'>";
                domAptitud += "<span class='aptitud-nombre'>"+aptitudAgregada.name+"</span> ";
                domAptitud += "<span style='background-color:#5bc0de' class='badge'>";
                domAptitud += "<span class='glyphicon glyphicon-remove aptitud-remover'></span>";
                domAptitud += "</span></span></h2>";
                vm = $("h2[data-id="+aptitudTalentoActual.id+"]");
                vm.html(domAptitud);
                console.log(data);

                swal({
                    title: "Aptitud actualizada satisfactoriamente",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                modalGestorAptitudes.modal("hide");
            }).error(function (jq,err) {
                toastr.error("Problemas conectando al servidor");
            });
        });

        //BTN-OPCIONES

        $("body").on("click", "#btnModalAgregarAptitud", function (e) {
            $.ajax({
                url: rootDir + "Talentos/ListadoAptitudesDisponibleTalentos",
                type: "GET",
                contentType: "application/json",
                data: {talentoID: talentoID}
            }).done(function (data) {
                cboAptitudes.setData(data);
                $("lblTituloGestorAptitudes").html("Agregar aptitud");
                $("#btnModificarAptitud").hide();
                $("#btnAgregarAptitud").show();
                modalGestorAptitudes.modal("show");
            }).error(function (jq, err) {
                toastr.error("Problemas conectando al servidor");
            });
        });

        $("body").on("click","#btnEliminarTalento",function(e){
            swal({ title: "Deseas remover talento?",   
                text: "Se desvinculara este talento para todos los (procesos,aplicaciones) asociadas",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Eliminar", 
                cancelButtonText: "Cancelar",
                closeOnConfirm: false 
            }, function(){   
                toastr.clear();

                $.ajax({
                    url:rootDir + 'Talentos/RemoverTalento',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({talentoID:talentoID})
                }).done(function (data){
                    console.log(data);
                    if (data.error){
                        toastr.error(data.resultado);
                        return;
                    }
                    document.location.href = rootDir + "Talentos/ListadoTalentosPaginado";
                }).error(function (data){
                    toastr.error("Error contactando el servidor");
                    swal.close();
                });

            });
        });

        $("body").on("click", "#btnModificarTalento", function (e) {
            e.preventDefault();
            toastr.clear();

            txtPrimerNombre = $("#PrimerNombre");
            txtSegundoNombre = $("#SegundoNombre");
            txtPrimerApellido = $("#PrimerApellido");
            txtSegundoApellido = $("#SegundoApellido");
            chkSexo = $('input[name=optSexo]:checked');
            txtFechaNacimiento = $("#FechaNacimiento");
            txtEmail = $("#Email");
            txtDocumentoIdentidad = $("#DocumentoIdentidad");
            cboTipoDocumentoIdentidad = $("#TipoDocumentoIdentidad option:selected");

            if (txtPrimerNombre.val().trim().length == 0) {
                toastr.error("Debe colocar un primer nombre valido");
                txtPrimerNombre.focus();
                return;
            }

            if (txtPrimerApellido.val().trim().length == 0) {
                toastr.error("Debe colocar un primer apellido valido");
                txtPrimerApellido.focus();
                return;
            }

            if (chkSexo.length == 0) {
                toastr.error("Debe colocar un sexo valido");
                return;
            }

            if (txtFechaNacimiento.val().trim().length == 0) {
                toastr.error("Debe colocar una fecha de nacimiento valida");
                txtFechaNacimiento.focus();
                return;
            }

            if (txtEmail.val().trim().length == 0) {
                toastr.error("Debe colocar un email valido");
                txtEmail.focus();
                return;
            }

            if (txtDocumentoIdentidad.val().trim().length == 0) {
                toastr.error("Debe colocar un documento identidad valido");
                txtDocumentoIdentidad.focus();
                return;
            }

            if (txtDocumentoIdentidad.val().trim().length == 0) {
                toastr.error("Debe colocar un documento identidad valido");
                txtDocumentoIdentidad.focus();
                return;
            }

            talento = {
                TalentoID: talentoID,
                PrimerNombre: txtPrimerNombre.val(),
                SegundoNombre: txtSegundoNombre.val(),
                PrimerApellido: txtPrimerApellido.val(),
                SegundoApellido: txtSegundoApellido.val(),
                Sexo: chkSexo.val(),
                FechaNacimiento: txtFechaNacimiento.val(),
                Email: txtEmail.val(),
                TipoDocumentoIdentidad: cboTipoDocumentoIdentidad.val(),
                DocumentoIdentidad: txtDocumentoIdentidad.val()
            };

            $.ajax({
                url: rootDir + 'Talentos/ModificarTalento',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ entrada: talento })
            }).done(function (data) {
                if (data.error) {
                    toastr.error(data.resultado);
                    return;
                }
                swal({
                    title: "Proceso completado satisfactoriamente!",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                }, function () {
                    document.location.reload();
                });
            }).error(function (jq, err) {
                toastr.error("Problemas con conexion al servidor");
            });
        });
    });
    function validarModalGestorAptitud(){
        toastr.clear();

        if (cboAptitudes.getSelection().length == 0) {
            toastr.error("Debe seleccionar una aptitud");
            cboAptitudes.input.focus();
            return false;
        }

        if (txtNivelManejo.val().trim().length == 0) {
            toastr.error("Debe seleccionar un nivel de manejo");
            return false;
        }
        if (txtTiempoExperiencia.val().trim().length == 0){
            toastr.error("Debe completar un tiempo de experiencia");
            txtTiempoExperiencia.focus();
            return false;
        }else if(parseInt(txtTiempoExperiencia.val())<1){
            toastr.error("Debe completar un tiempo de experiencia mayor que 0");
            txtTiempoExperiencia.focus();
            return false;
        }

        if (txtUnidadExperiencia.val().trim().length == 0) {
            toastr.error("Debe seleccionar una unidad de tiempo");
            return false;
        }
        return true;
    }
</script>