﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<TalentosApp.TransferenciaDatos.VistaModelos.TalentosVw>

@{
    ViewBag.Title = "Listado de Talentos";
}
<style>
    .registro:hover {
        background-color: ActiveCaption;
        cursor: pointer;
    }
</style>

<h2><span class="glyphicon glyphicon-sunglasses"></span> Listado de Talentos</h2>

<h4 style="margin-left:4px;"> <i class="glyphicon glyphicon-search"></i> Búsqueda</h4>
@using (Html.BeginForm("", "", FormMethod.Post))
{
    <div id="panelBusqueda" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="TextoBusquedad" name="TextoBusquedad" aria-label="...">
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Filtros
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="padding:12px; width: 400px !important;">
                    <li>
                        <span class="bold">Por:</span>
                        <select class="form-control" id="Estado" name="Estado">
                            <option value="0">Nombre</option>
                            <option value="1">Descripción</option>
                        </select>
                    </li>
                    <li>
                        <div class="dropdown">
                            <div class="form-inline">
                                <span class="bold">Tipo de aptitud</span>
                                <select class="form-control" id="Estado" name="Estado">
                                    <option value="0">Todos</option>
                                    <option value="1">Idiomática</option>
                                    <option value="2">Técnica</option>
                                    <option value="3">Subjetiva</option>
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
        </button>
        @Html.ActionLink("Registrar Talento", "RegistrarTalento", null, new { @class = "btn btn-primary" })
    </div>
}
<hr style="visibility:hidden" />
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                No. Talento
            </th>
            <th>
                Nombre
            </th>
            <th>
                Sexo
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
                Email
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="registro" data-id="@item.TalentoID">
                <td>
                    @string.Format("{0:D4}", item.TalentoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @((TalentosApp.Enumeradores.Sexo)item.Sexo)
                </td>
                <td>
                    @item.FechaNacimiento.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </table>
</div>
<div class="row">
    <div class="text-center">
        @Html.PagedListPager(Model, pagina => Url.Action("ListadoTalentosPaginado", new { pagina }))
    </div>
</div>>

<script>
    $(function () {
        $(".registro").on("dblclick", function (e) {
            vm = $(this);
            document.location.href = rootDir + "Talentos/DetalleTalento/" + vm.data("id");
        });
    });
</script>