﻿@model TalentosApp.TransferenciaDatos.Entradas.TalentoInputModel

@{
    ViewBag.Title = "Registrar Talento";
}

<h2><span class="glyphicon glyphicon-sunglasses"></span> Registrar Talento</h2>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Favor de completar los campos correspondientes</h4>
        <hr />
        @if (ViewBag.Message != null)
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="text-danger">@((string)ViewBag.Message)</div>
        }
        <div class="form-group">
            <h4 class="col-md-12">Nombres</h4>
            <div class="col-md-4">
                <label class="control-label col-md-2" for="PrimerNombre">Primer*</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-2" for="SegundoNombre">Segundo</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <h4 class="col-md-12">Apellidos</h4>
            <div class="col-md-4">
                <label class="control-label col-md-2" for="PrimerApellido">Primer*</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="col-md-6">
                <label class="control-label col-md-2" for="SegundoApellido">Segundo</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label col-md-2" for="Sexo">Sexo*</label>
                <div class="col-md-10">
                    <div class="radio">
                        <label><input type="radio" name="optSexo" value="1">Masculino</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optSexo" value="2">Femenino</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-2" for="FechaNacimiento">Nacimiento*</label>
                <div class="col-md-10">
                    <input type="date" name="FechaNacimiento" value="" id="FechaNacimiento" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label col-md-2" for="Email">Email*</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-2" for="DocumentoIdentidad">Doc. Identidad*</label>
                <div class="col-md-10 form-inline">
                    <input type="text" class="form-control" id="DocumentoIdentidad" 
                           onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                    <select id="TipoDocumentoIdentidad" class="form-control">
                        <option value="1">Cedula</option>
                        <option value="2">Pasaporte</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Registrar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "ListadoTalentosPaginado", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $("form").on("submit", function (e) {
            e.preventDefault();
            toastr.clear();

            txtPrimerNombre = $("#PrimerNombre");
            txtSegundoNombre = $("#SegundoNombre");
            txtPrimerApellido = $("#PrimerApellido");
            txtSegundoApellido = $("#SegundoApellido");
            chkSexo = $('input[name=optSexo]:checked');
            txtFechaNacimiento = $("#FechaNacimiento");
            txtEmail = $("#Email");
            txtDocumentoIdentidad = $("#DocumentoIdentidad");
            cboTipoDocumentoIdentidad = $("#TipoDocumentoIdentidad option:selected");

            if (txtPrimerNombre.val().trim().length == 0) {
                toastr.error("Debe colocar un primer nombre valido");
                txtPrimerNombre.focus();
                return;
            }

            if (txtPrimerApellido.val().trim().length == 0) {
                toastr.error("Debe colocar un primer apellido valido");
                txtPrimerApellido.focus();
                return;
            }

            if (chkSexo.length == 0) {
                toastr.error("Debe colocar un sexo valido");
                return;
            }

            if (txtFechaNacimiento.val().trim().length == 0) {
                toastr.error("Debe colocar una fecha de nacimiento valida");
                txtFechaNacimiento.focus();
                return;
            }

            if (txtEmail.val().trim().length == 0) {
                toastr.error("Debe colocar un email valido");
                txtEmail.focus();
                return;
            }

            if (txtDocumentoIdentidad.val().trim().length == 0) {
                toastr.error("Debe colocar un documento identidad valido");
                txtDocumentoIdentidad.focus();
                return;
            }

            if (txtDocumentoIdentidad.val().trim().length == 0) {
                toastr.error("Debe colocar un documento identidad valido");
                txtDocumentoIdentidad.focus();
                return;
            }

            talento = {
                PrimerNombre: txtPrimerNombre.val(),
                SegundoNombre: txtSegundoNombre.val(),
                PrimerApellido: txtPrimerApellido.val(),
                SegundoApellido: txtSegundoApellido.val(),
                Sexo: chkSexo.val(),
                FechaNacimiento: txtFechaNacimiento.val(),
                Email: txtEmail.val(),
                TipoDocumentoIdentidad: cboTipoDocumentoIdentidad.val(),
                DocumentoIdentidad: txtDocumentoIdentidad.val()
            };

            $.ajax({
                url: rootDir + 'Talentos/RegistrarTalento',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({entrada:talento})
            }).done(function (data) {
                if (data.error) {
                    toastr.error(data.resultado);
                    return;
                }
                swal({
                    title: "Proceso completado satisfactoriamente!",
                    text: "",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                }, function () {
                    document.location.href = rootDir + 'Talentos/DetalleTalento/' + data.resultado;
                });
            }).error(function (jq, err) {
                toastr.error("Problemas con conexion al servidor");
            });
            
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
