﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TalentosApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        var rootDir = document.location.href.substring(0, document.location.href.indexOf("/", 7) + 1);
    </script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TalentosApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Aptitudes", "ListadoAptitudesPaginado", "Aptitudes")</li>
                    <li>@Html.ActionLink("Perfiles", "ListadoPerfilesPaginado", "Perfiles")</li>
                    <li>@Html.ActionLink("Talentos", "ListadoTalentosPaginado", "Talentos")</li>
                    <li>@Html.ActionLink("Clientes", "ListadoClientesPaginado", "Clientes")</li>
                    <li>@Html.ActionLink("Vacantes", "ListadoVacantesPaginado", "Vacantes")</li>
                    <li>@Html.ActionLink("Muse","BuscadorMuse","MuseFiltro")</li>
                    <li>@Html.ActionLink("Nosotros", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TalentosApp</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
