﻿@{
    ViewBag.Title = "Nosotros";
}
<h2><span class="glyphicon glyphicon-star-empty"></span>@ViewBag.Title</h2>
<h3>Jordhano Mañon (Matricula: 12-5143)</h3>

<p>Desarrollado para la asignatura 2015-3-1-ISW413 - Luis Santana</p>
