﻿@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <img class="center-block" src="~/Content/Images/logo.png" />
    <h1 class="text-center">Talentos App</h1>
    <p class="lead text-center">Aplicación creada para facilitar las tareas de una empresa de reclutamiento de personal</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inicia el proceso</h2>
        <p>
            Registrando desde las aptitudes del sistemas hasta la busquedad de ellos a traves de Muse.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("ListadoAptitudesPaginado", "Aptitudes")'>Iniciar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Utiliza MUSE</h2>
        <p>
            Todas las busquedas que debes realizar en nuestro sistemas puedes realizarlas a traves de nuestro buscador.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("BuscadorMuse", "MuseFiltro")'>Probar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nosotros</h2>
        <p>Se ha desarrollado por medio de las especificaciones establecidas en este sector.</p>
        <p><a class="btn btn-default" href='@Url.Action("About","Home")'>Leer más &raquo;</a></p>
    </div>
</div>