﻿@model TalentosApp.TransferenciaDatos.VistaModelos.MuseFiltro.VacanteMuseResultadoVw
<style>
    .principal .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .objeto {
        border-radius: 19px;
    }
</style>

<div class="principal">
    <h2>Aptitudes (@Model.TotalAptitudes)</h2>
    <ul class="list-inline">
        @foreach (var aptitud in Model.Aptitudes)
        {
            <li>
                <h2 class='aptitud-elemento'>
                    <span class='label label-default'>
                        <span class="aptitud-nombre">@aptitud.Nombre</span>
                    </span>
                </h2>
            </li>
        }
    </ul>
    <h2>Talentos (@Model.TotalTalentos)</h2>
    <div class="row">
        @foreach (var talento in Model.Talentos)
        {
            <div class="col-md-6 objeto">
                <h3>@talento.Nombre (Aplica: @talento.TotalAplica) (N/A: @(talento.TotalNA))</h3>
                <label class="label label-info">Puntos: @talento.Ranking</label>
                <h4>Aplican</h4>
                <ul>
                    @foreach (var aptitudAplican in talento.Aplica)
                    {
                        <li>@aptitudAplican.Nombre</li>
                    }
                </ul>
                <h4>Maneja</h4>
                <ul>
                    @foreach (var aptitudManejo in talento.Manejo)
                    {
                        <li>@aptitudManejo.Nombre</li>
                    }
                </ul>
                <h4>Posee Tiempo</h4>
                <ul>
                    @foreach (var aptitudManejo in talento.Tiempo)
                    {
                        <li>@aptitudManejo.Nombre</li>
                    }
                </ul>
                <h4>Miscelaneos</h4>
                <ul>
                    @foreach (var aptitudMiscelaneo in talento.Miscelaneos)
                    {
                        <li>@aptitudMiscelaneo.Nombre</li>
                    }
                </ul>
                <h4>N/A</h4>
                <ul>
                    @foreach (var aptitudNA in talento.NA)
                    {
                        <li>@aptitudNA.Nombre</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
<script>
    $(function () {
        var colors = ["bg-primary", "bg-info", "bg-warning", "bg-danger", "bg-success"];
        $(".objeto").each(function (index) {
            vm = $(this);
            rand = Math.floor(Math.random() * colors.length);
            vm.addClass(colors[rand]);
        });

    });
</script>
