﻿@model TalentosApp.TransferenciaDatos.VistaModelos.MuseFiltro.AptitudesMuseResultadoVw
<style>
    .principal .row {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display:         flex;
    }
    .objeto {
        border-radius: 19px;
    }
</style>
<div class="principal">
    <h2>Talentos (@Model.TotalTalentos)</h2>
    <div class="row ">
        @foreach (var talento in Model.Talentos)
        {
            <div class="col-md-4 objeto">
                <H4>@talento.Nombre (Aplica: @talento.TotalAplica) (N/A: @(Model.TotalFiltros - talento.TotalAplica))</H4>
                <H5>Aplican</H5>
                <ul>
                    @foreach (var aptitudAplican in talento.Aplica)
                    {
                        <li>@aptitudAplican.Nombre</li>
                    }
                </ul>
                <H5>Miscelaneos</H5>
                <ul>
                    @foreach (var aptitudMiscelaneo in talento.Miscelaneos)
                    {
                        <li>@aptitudMiscelaneo.Nombre</li>
                    }
                </ul>
            </div>
        }
    </div>
    <hr />
    <h2>Perfiles (@Model.TotalPerfiles)</h2>
    <div class="row">
        @foreach (var perfil in Model.Perfiles)
        {
            <div class="col-md-4 objeto">
                <H4>@perfil.Nombre (Aplica: @perfil.TotalAplica) (N/A: @(Model.TotalFiltros - perfil.TotalAplica))</H4>
                <H5>Aplican</H5>
                <ul>
                    @foreach (var aptitudAplican in perfil.Aplica)
                    {
                        <li>@aptitudAplican.Nombre</li>
                    }
                </ul>
                <H5>Miscelaneos</H5>
                <ul>
                    @foreach (var aptitudMiscelaneo in perfil.Miscelaneos)
                    {
                        <li>@aptitudMiscelaneo.Nombre</li>
                    }
                </ul>
            </div>
        }
    </div>
    <hr />
    <h2>Vacantes (@Model.TotalVacantes)</h2>
    <div class="row">
        @foreach (var vacante in Model.Vacantes)
        {
            <div class="col-md-4 objeto">
                <H4>@vacante.Nombre (Aplica: @vacante.TotalAplica) (N/A: @(Model.TotalFiltros - vacante.TotalAplica))</H4>
                <H5>Aplican</H5>
                <ul>
                    @foreach (var aptitudAplican in vacante.Aplica)
                    {
                        <li>@aptitudAplican.Nombre</li>
                    }
                </ul>
                <H5>Miscelaneos</H5>
                <ul>
                    @foreach (var aptitudMiscelaneo in vacante.Miscelaneos)
                    {
                        <li>@aptitudMiscelaneo.Nombre</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
<script>
    $(function () {
        var colors = ["bg-primary", "bg-info", "bg-warning", "bg-danger", "bg-success"];
        $(".objeto").each(function (index) {
            vm = $(this);
            rand = Math.floor(Math.random() * colors.length);
            vm.addClass(colors[rand]);
        });

    });
</script>