﻿@model TalentosApp.TransferenciaDatos.VistaModelos.MuseFiltro.TalentoMuseResultadoVw
<style>
    .principal .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .objeto {
        border-radius: 19px;
    }
</style>

<div class="principal">
    <h2>Aptitudes (@Model.TotalAptitudes)</h2>
    <ul class="list-inline">
        @foreach (var aptitud in Model.Aptitudes)
        {
            <li>
                <h2 class='aptitud-elemento'>
                    <span class='label label-default'>
                        <span class="aptitud-nombre">@aptitud.Nombre</span>
                    </span>
                </h2>
            </li>
        }
    </ul>
    <h2>Perfiles (@Model.TotalPerfiles)</h2>
    <div class="row">
        @foreach (var perfil in Model.Perfiles)
        {
            <div class="col-md-4 objeto">
                <H4>@perfil.Nombre (Aplica: @perfil.TotalAplica) (N/A: @(perfil.TotalNA))</H4>
                <H5>Aplican</H5>
                <ul>
                    @foreach (var aptitudAplican in perfil.Aplica)
                    {
                        <li>@aptitudAplican.Nombre</li>
                    }
                </ul>
                <H5>Maneja</H5>
                <ul>
                    @foreach (var aptitudManejo in perfil.Manejo)
                    {
                        <li>@aptitudManejo.Nombre</li>
                    }
                </ul>
                <H5>Posee Tiempo</H5>
                <ul>
                    @foreach (var aptitudManejo in perfil.Tiempo)
                    {
                        <li>@aptitudManejo.Nombre</li>
                    }
                </ul>
                <H5>Miscelaneos</H5>
                <ul>
                    @foreach (var aptitudMiscelaneo in perfil.Miscelaneos)
                    {
                        <li>@aptitudMiscelaneo.Nombre</li>
                    }
                </ul>
                <H5>N/A</H5>
                <ul>
                    @foreach (var aptitudNA in perfil.NA)
                    {
                        <li>@aptitudNA.Nombre</li>
                    }
                </ul>
            </div>
        }
    </div>
    <h2>Vacantes (@Model.TotalVacantes)</h2>
    <div class="row">
        @foreach (var vacante in Model.Vacantes)
        {
            <div class="col-md-4 objeto">
                <H4>@vacante.Nombre (Aplica: @vacante.TotalAplica) (N/A: @(Model.TotalFiltros - vacante.TotalAplica))</H4>
                <H5>Aplican</H5>
                <ul>
                    @foreach (var aptitudAplican in vacante.Aplica)
                    {
                        <li>@aptitudAplican.Nombre</li>
                    }
                </ul>
                <H5>Maneja</H5>
                <ul>
                    @foreach (var aptitudManejo in vacante.Manejo)
                    {
                        <li>@aptitudManejo.Nombre</li>
                    }
                </ul>
                <H5>Posee Tiempo</H5>
                <ul>
                    @foreach (var aptitudManejo in vacante.Tiempo)
                    {
                        <li>@aptitudManejo.Nombre</li>
                    }
                </ul>
                <H5>Miscelaneos</H5>
                <ul>
                    @foreach (var aptitudMiscelaneo in vacante.Miscelaneos)
                    {
                        <li>@aptitudMiscelaneo.Nombre</li>
                    }
                </ul>
                <H5>N/A</H5>
                <ul>
                    @foreach (var aptitudNA in vacante.NA)
                    {
                        <li>@aptitudNA.Nombre</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
<script>
    $(function () {
        var colors = ["bg-primary", "bg-info", "bg-warning", "bg-danger", "bg-success"];
        $(".objeto").each(function (index) {
            vm = $(this);
            rand = Math.floor(Math.random() * colors.length);
            vm.addClass(colors[rand]);
        });

    });
</script>