﻿
@{
    ViewBag.Title = "Buscador";
}

<link href="~/Content/magicsuggest-min.css" rel="stylesheet" />
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/magicsuggest-min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<style>
    .filtros.row.bg-primary {
        border-radius: 10px;
    }
    @@-webkit-keyframes spin2 { 
        from { -webkit-transform: rotate(0deg);} 
        to { -webkit-transform: rotate(360deg);} 
    }
    @@keyframes spin { 
        from { transform: scale(1) rotate(0deg);} 
        to { transform: scale(1) rotate(360deg);} 
    }
</style>

<h2><span class="glyphicon glyphicon-search"></span> Buscador</h2>
<div class="filtros row bg-primary">
    <div class="col-md-6 form-group filtro">
        <div class="radio">
            <label>
                <input type="radio" name="optFiltro" checked="checked" value="1">Aptitudes
            </label>
        </div>
        @Html.ListBox("cboAptitudes",(IEnumerable<SelectListItem>)ViewBag.Aptitudes)
    </div>

    <div class="col-md-6 form-group filtro">
        <div class="radio">
            <label><input type="radio" name="optFiltro" value="2">Talento</label>
        </div>
        @Html.ListBox("cboTalentos", (IEnumerable<SelectListItem>)ViewBag.Talentos)
    </div>
    <div class="col-md-6 form-group filtro">
        <div class="radio">
            <label><input type="radio" name="optFiltro" value="3">Perfiles</label>
        </div>
        @Html.ListBox("cboPerfiles", (IEnumerable<SelectListItem>)ViewBag.Perfiles)
    </div>
    <div class="col-md-6 form-group filtro">
        <div class="radio">
            <label><input type="radio" name="optFiltro" value="4">Vacante</label>
        </div>
        @Html.ListBox("cboVacantes", (IEnumerable<SelectListItem>)ViewBag.Vacantes)
    </div>
    <div class="col-md-offset-3">
        <div class="col-md-4">
            <button type="button" class="btn btn-success btn-block" id="btnFiltrar">
                <span class="glyphicon glyphicon-play-circle"></span>Filtrar
            </button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-danger btn-block" id="btnLimpiar">
                <span class="glyphicon glyphicon-trash"></span>Limpiar
            </button>
            <br />
        </div>
    </div>
</div>
<div id="pnlResultado">

</div>
<script>
    var cboAptitudes = $("#cboAptitudes").magicSuggest({
        allowFreeEntries: false,
        placeholder: 'Seleccionar Aptitudes'
    });
    var cboTalentos = $("#cboTalentos").magicSuggest({
        allowFreeEntries: false,
        maxSelection: 1,
        placeholder: 'Seleccionar Talento'
    });

    var cboPerfiles = $("#cboPerfiles").magicSuggest({
        allowFreeEntries: false,
        placeholder: 'Seleccionar Perfiles'
    });

    var cboVacantes = $("#cboVacantes").magicSuggest({
        allowFreeEntries: false,
        maxSelection: 1,
        placeholder: 'Seleccionar Vacante'
    });
    var pnlResultado = null;
    $(function () {
        pnlResultado = $('#pnlResultado');
        $("body").on("click", "#btnLimpiar", function (e) {
            swal({
                title: "Deseas limpiar campos de busquedad y resultados?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Limpiar",
                cancelButtonText: "Cancelar"
            }, function (isConfirm) {
                if (isConfirm) {
                    cboAptitudes.clear();
                    cboPerfiles.clear();
                    cboTalentos.clear();
                    cboVacantes.clear();
                    pnlResultado.html("");
                }
            });
        });
        $("body").on("click", "#btnFiltrar", function (e) {
            filtroActual = parseInt($('input[name=optFiltro]:checked').val());
            switch (filtroActual) {
                case 1:
                    if (cboAptitudes.getValue().length == 0) {
                        toastr.error("Debe completar el valor del fitro seleccionado");
                        cboAptitudes.input.focus();
                        return;
                    }
                    break;
                case 2:
                    if (cboTalentos.getValue().length == 0) {
                        toastr.error("Debe completar el valor del fitro seleccionado");
                        cboTalentos.input.focus();
                        return;
                    }
                    break;
                case 3:
                    if (cboPerfiles.getValue().length == 0) {
                        toastr.error("Debe completar el valor del fitro seleccionado");
                        cboPerfiles.input.focus();
                        return;
                    }
                    break;
                case 4:
                    if (cboVacantes.getValue().length == 0) {
                        toastr.error("Debe completar el valor del fitro seleccionado");
                        cboVacantes.input.focus();
                        return;
                    }
                    break;
                default:
                    toastr.error("Debe seleccionar un filtro valido");
                    return;
            }
            data = {
                Filtro: filtroActual,
                Aptitudes: cboAptitudes.getValue(),
                Talento: cboTalentos.getValue().length == 0 ? null : cboTalentos.getValue()[0],
                Perfiles: cboPerfiles.getValue(),
                Vacante: cboVacantes.getValue().length == 0 ? null : cboVacantes.getValue()[0]
            }
            swal({
                title: "Cargando!",
                text: "<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span> Cargando datos...",
                showConfirmButton: false,
                html: true,
                allowEscapeKey: false
            });

            $.ajax({
                url: rootDir + "MuseFiltro/BuscadorMuse",
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({entrada: data})
            }).success(function (data) {
                swal.close();
                pnlResultado.html(data);
            }).error(function (jq, data) {
                swal.close();
                toastr.error("Error contactando el servidor");
            });

        });
    });
</script>

