﻿@model TalentosApp.TransferenciaDatos.VistaModelos.AptitudesVw

@{
    ViewBag.Title = "Detalle de la Aptitud";
}
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<h2><span class="glyphicon glyphicon-tags"></span> Detalle de la Aptitud</h2>

<div>
    <h4>Datos acerca de la aptitud registrada (@Html.ActionLink("Volver al listado", "ListadoAptitudesPaginado"))</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Nombre</dt>
        <dd>@Model.Nombre</dd>

        <dt>Descripción</dt>
        <dd>@Model.Descripcion</dd>

        <dt>Tipo de aptidud</dt>
        <dd>@switch ((TalentosApp.Enumeradores.TipoAptitud)Model.TipoAptitud)
        {
            case TalentosApp.Enumeradores.TipoAptitud.Idiomatica:
                @:Idiomática
                    break;
            case TalentosApp.Enumeradores.TipoAptitud.Tecnica:
                @:Técnica
                    break;
            case TalentosApp.Enumeradores.TipoAptitud.Subjetiva:
                @:Subjetiva
                    break;
        }</dd>

    </dl>
</div>
<div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" id="btnAbrirModificarAptitud">
            <span class="glyphicon glyphicon-pencil"></span> Modificar
        </button>
        <button type="button" class="btn btn-danger" id="btnEliminarAptitud">
            <span class="glyphicon glyphicon-remove"></span> Eliminar
        </button>
    </div>
</div>
<!--Modales-->
<div id="modalGestorAptitudes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblTituloGestorAptitudes">Aptitud</h4>
            </div>
            <div class="modal-body">
                <div class="row form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Nombre</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="txtNombre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Descripción</label>
                        <div class="col-xs-9">
                            <textarea id="txtDescripcion" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Tipo de Aptitud</label>
                        <div class="col-xs-9">
                            <div class="btn-group tipoaptitud">
                                <button type="button" class="btn btn-default" data-val="1">Idiomática</button>
                                <button type="button" class="btn btn-default" data-val="2">Técnica</button>
                                <button type="button" class="btn btn-default" data-val="3">Subjetiva</button>
                            </div>
                            <input type="hidden" id="txtTipoAptitud" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnModificarAptitud">Modificar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var aptitud = @Model.AptitudID;

    $(function(){

        $("body").on("click","#btnModificarAptitud",function(e){
            toastr.clear();
            txtNombre = $("#txtNombre");
            txtDescripcion = $("#txtDescripcion");
            txtTipoAptitud = $("#txtTipoAptitud");

            if (txtNombre.val().trim().length == 0) {
                toastr.error("Debe completar el campo Nombre");
                txtNombre.focus();
                return false;
            }

            if (txtTipoAptitud.val().trim().length == 0) {
                toastr.error("Debe seleccionar el tipo de aptitud");
                return false;
            }

            $.ajax({
                url: rootDir + 'Aptitudes/ModificarAptitud',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    entrada: {
                        AptitudID : aptitud,
                        Nombre : txtNombre.val(),
                        Descripcion: txtDescripcion.val(),
                        TipoAptitud: txtTipoAptitud.val()
                    }
                })
            }).done(function (data){
                if (data.error) {
                    swal("Error!", data.resultado, "error");
                } else {
                    swal({
                        title: "Proceso completado satisfactoriamente!",
                        text: "",
                        type: "success",
                        timer: 2000,
                        showConfirmButton: false
                    }, function () {
                        document.location.reload();
                    });
                }
            }).error(function (jq,err){
                toastr.error("Ha ocurrido un error comunicando con el servidor");
            });
        });

        $("body").on("click","#btnAbrirModificarAptitud",function(e){
            $.ajax({
                url: rootDir + "Aptitudes/ObtenerAptitud",
                type: "GET",
                contentType: "application/json",
                data: {aptitudId: aptitud}
            }).done(function (data){
                if (data.error){
                    toastr.error(data.resultado);
                    return;
                }else{
                    data = data.resultado;
                    txtNombre = $("#txtNombre");
                    txtDescripcion = $("#txtDescripcion");

                    txtNombre.val(data.Nombre);
                    txtDescripcion.val(data.Descripcion);
                    $(".tipoaptitud button[data-val="+data.TipoAptitud+"]").click();

                    $("#modalGestorAptitudes").modal("show");
                }
            }).error(function (ej, error){
                toastr.error("Ha ocurrido un error comunicando con el servidor");
            });
            
        });

        $("body").on("shown.bs.modal","#modalGestorAptitudes",function(e){
            $("#txtNombre").focus();
        });

        $("body").on("click","#btnEliminarAptitud",function(data){
            swal({ title: "Deseas remover aptitud?",   
                text: "Se desvinculara esta aptitud para todos los (perfiles, vacantes) asociadas",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Eliminar", 
                cancelButtonText: "Cancelar",
                closeOnConfirm: false 
            }, function(){   
                toastr.clear();
                $.ajax({
                    url:rootDir + 'Aptitudes/RemoverAptitud',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({aptitudId:aptitud})
                }).done(function (data){
                    if (data.error){
                        toastr.error(data.resultado);
                        return;
                    }
                    document.location.href = rootDir + "Aptitudes/ListadoAptitudesPaginado";
                }).error(function (data){
                    toastr.error("Error contactando el servidor");
                    swal.close();
                });

            });
        });

        $("body").on("click", ".tipoaptitud button", function (e) {
            vm = $(this);
            
            if (vm.hasClass("btn-default")) {
                vm.removeClass("btn-default").addClass("btn-primary");
            }
            vm.siblings().removeClass("btn-default").removeClass("btn-primary").addClass("btn-default");
            $("#txtTipoAptitud").val(vm.data('val'));
        });
    });
</script>

