﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<TalentosApp.TransferenciaDatos.VistaModelos.AptitudesVw>

@{
    ViewBag.Title = "Listado de Aptitudes";
}
<style>
    .registro:hover{
        background-color:ActiveCaption;
        cursor: pointer
    }
</style>

<h2><span class="glyphicon glyphicon-tags"></span> Listado de Aptitudes</h2>
<h4 style="margin-left:4px;"> <i class="glyphicon glyphicon-search"></i> Búsqueda</h4>
@using (Html.BeginForm("", "", FormMethod.Post))
{
    <div id="panelBusqueda" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="TextoBusquedad" name="TextoBusquedad" aria-label="...">
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Filtros
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="padding:12px; width: 400px !important;">
                    <li>
                        <span class="bold">Por:</span>
                        <select class="form-control" id="Estado" name="Estado">
                            <option value="0">Nombre</option>
                            <option value="1">Descripción</option>
                        </select>
                    </li>
                    <li>
                        <div class="dropdown">
                            <div class="form-inline">
                                <span class="bold">Tipo de aptitud</span>
                                <select class="form-control" id="Estado" name="Estado">
                                    <option value="0">Todos</option>
                                    <option value="1">Idiomática</option>
                                    <option value="2">Técnica</option>
                                    <option value="3">Subjetiva</option>
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
        </button>
        @Html.ActionLink("Registrar Aptitud", "RegistrarAptitud", null, new { @class = "btn btn-primary" })
    </div>
}
<hr style="visibility:hidden"/>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo de Aptitud</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="registro" data-id="@item.AptitudID">
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @switch ((TalentosApp.Enumeradores.TipoAptitud)item.TipoAptitud)
                    {
                        case TalentosApp.Enumeradores.TipoAptitud.Idiomatica:
                            @:Idiomática
                    break;
                        case TalentosApp.Enumeradores.TipoAptitud.Tecnica:
                        @:Técnica
                    break;
                        case TalentosApp.Enumeradores.TipoAptitud.Subjetiva:
                        @:Subjetiva
                    break;
                    }
                </td>
            </tr>
        }
    </table>
</div>

<div class="row">
    <div class="text-center">
        @Html.PagedListPager(Model, pagina => Url.Action("ListadoAptitudesPaginado", new { pagina }))
    </div>
</div>
<script>
    $(function () {
        $(".registro").on("dblclick", function (e) {
            vm = $(this);
            document.location.href = rootDir + "Aptitudes/DetalleAptitud/" + vm.data("id");
        });

    });
</script>