﻿@model TalentosApp.TransferenciaDatos.Entradas.AptitudInputModel

@{
    ViewBag.Title = "Registrar Aptitud";
}
<style>
    #Descripcion{
        height:125px;
    }
</style>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<h2><span class="glyphicon glyphicon-tags"></span> Registrar Aptitud</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Favor de completar los campos correspondientes</h4>
        <hr />
        @if (ViewBag.Message != null)
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="text-danger">@((string)ViewBag.Message)</div>
        }


        <div class="form-group">
            <label class="control-label col-md-2" for="Nombre">Nombre*</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Descripcion">Descripción</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TipoAptitud">Tipo de Aptitud*</label>
            <div class="col-md-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-val="1">Idiomática</button>
                    <button type="button" class="btn btn-default" data-val="2">Técnica</button>
                    <button type="button" class="btn btn-default" data-val="3">Subjetiva</button>
                    @*1: Idiomatica, 2: Tecnica, 3: Subjetiva*@
                </div>
                @Html.EditorFor(model => model.TipoAptitud, new { htmlAttributes = new { @class = "form-control",style="visibility:hidden" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "ListadoAptitudesPaginado", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        if ($("#TipoAptitud").val() != "") { $('*[data-val="' + $("#TipoAptitud").val() + '"]').click(); };

        $("body").on("click", ".btn-group button", function (e) {
            vm = $(this);
            
            if (vm.hasClass("btn-default")) {
                vm.removeClass("btn-default").addClass("btn-primary");
            }
            vm.siblings().removeClass("btn-default").removeClass("btn-primary").addClass("btn-default");
            $("#TipoAptitud").val(vm.data('val'));
        });

        $("form").submit(function () {
            toastr.clear();
            txtNombre = $("#Nombre");
            txtDescripcion = $("#Descripcion");
            txtTipoAptitud = $("#TipoAptitud");

            if (txtNombre.val().trim().length == 0) {
                toastr.error("Debe completar el campo Nombre");
                txtNombre.focus();
                return false;
            }

            if (txtTipoAptitud.val().trim().length == 0) {
                toastr.error("Debe seleccionar el tipo de aptitud");
                return false;
            }

            $.ajax({
                url: rootDir + "Aptitudes/RegistrarAptitud",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    entrada: {
                        Nombre : txtNombre.val(),
                        Descripcion : txtDescripcion.val(),
                        TipoAptitud: txtTipoAptitud.val()
                    }
                })
            }).done(function (data) {
                if (data.error) {
                    swal("Error!", data.resultado, "error");
                } else {
                    swal({
                        title: "Proceso completado satisfactoriamente!",
                        text: "",
                        type: "success",
                        timer: 2000,
                        showConfirmButton: false
                    }, function () {
                        document.location.href = rootDir + "Aptitudes/DetalleAptitud/"+ data.resultado;
                    });
                }
            }).error(function (data) {
                toastr.error("Ha ocurrido un error comunicando con el servidor");
            });
            return false;

        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
